Repository mwd474747/DawsOSP: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, pytest-changed

.pre-commit-config.yaml:

# Pre-commit hooks for DawsOS Trinity Architecture compliance
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Trinity Architecture Compliance Checker
  - repo: local
    hooks:
      - id: trinity-compliance
        name: Trinity Architecture Compliance Check
        entry: python3 scripts/check_compliance.py
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        args: ['--strict']
        stages: [commit]

  # Pattern Linter (if exists)
  - repo: local
    hooks:
      - id: pattern-lint
        name: Pattern Configuration Linter
        entry: bash -c 'if [ -f scripts/lint_patterns.py ]; then python3 scripts/lint_patterns.py; fi'
        language: system
        files: 'patterns/.*\.json$'
        pass_filenames: false
        stages: [commit]

  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: ['--line-length=100']
        files: '^dawsos/.*\.py$'

  # Python import sorting with isort
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black', '--line-length', '100']
        files: '^dawsos/.*\.py$'

  # Flake8 for Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--extend-ignore=E203,W503']
        files: '^dawsos/.*\.py$'

  # Pytest on changed files (fast subset)
  - repo: local
    hooks:
      - id: pytest-changed
        name: Run pytest on changed files
        entry: bash -c 'if [ -f dawsos/test_system_health.py ]; then python3 -m pytest dawsos/test_system_health.py -v --tb=short; fi'
        language: system
        types: [python]
        pass_filenames: false
        stages: [commit]

  # Check for common issues
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: end-of-file-fixer
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: check-yaml
        files: '^dawsos/.*\.yaml$'
      - id: check-json
        files: '^dawsos/.*\.json$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements

  # Security checks with Bandit
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml', '--severity-level', 'medium']
        files: '^dawsos/.*\.py$'
        exclude: '^dawsos/(tests|venv)/.*$'

  # Type checking with mypy (optional)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: '^dawsos/core/.*\.py$'
        args: ['--ignore-missing-imports', '--no-strict-optional']
        additional_dependencies: ['types-requests']

Update type hints to include a union for broader data handling
  backend/app/agents/financial_analyst.py
Due: pytest-changed

Add comprehensive legacy agents technical debt analysis
  LEGACY_AGENTS_TECHNICAL_DEBT_ANALYSIS.md
Due: none

Phase 3 Cleanup: Remove duplicate _merge_policies_and_constraints from OptimizerAgent
  backend/app/agents/optimizer_agent.py
Due: pytest-changed

Phase 3 Cleanup: Fix OptimizerAgent - replace _merge_policies_and_constraints call with inline logic
  backend/app/agents/optimizer_agent.py
Due: pytest-changed

Phase 3 Cleanup: Fix STUB bug in RatingsAgent - remove STUB fallback, raise error instead
  backend/app/agents/ratings_agent.py
Due: pytest-changed

Add Phase 3 cleanup execution report - OptimizerAgent, RatingsAgent, ChartsAgent cleaned
  PHASE_3_CLEANUP_EXECUTION_REPORT.md
Due: none

Add Phase 3 consolidation remaining work summary
  PHASE_3_CONSOLIDATION_REMAINING_WORK.md
Due: none

Add comprehensive validation plan for Weeks 4-5 consolidations
  PHASE_3_WEEKS_4-5_VALIDATION_PLAN.md
Due: none

Complete Phase 3 Weeks 4-5 validation report with static analysis
  PHASE_3_WEEKS_4-5_VALIDATION_REPORT.md
Due: none

Finalize Phase 3 Weeks 4-5 validation report with complete static analysis
  PHASE_3_WEEKS_4-5_VALIDATION_REPORT.md
Due: none

Add comprehensive UI integration audit with page inventory and gap analysis
  UI_INTEGRATION_AUDIT.md
Due: none

Complete UI integration audit with final summary and priority actions
  UI_INTEGRATION_AUDIT.md
Due: none

Fix UI pattern registry: add missing panels and correct dataPaths
  full_ui.html
Due: none

Fix alert_suggestions dataPath to use nested suggestions array
  full_ui.html
Due: none

Clean up legacy PerformancePage and document UI integration progress
  UI_INTEGRATION_PROGRESS.md
Due: none

Migrate ReportsPage to use PatternRenderer
  full_ui.html
Due: none

Update UI integration progress - ReportsPage migration complete
  UI_INTEGRATION_PROGRESS.md
Due: none

Fix anti-patterns in ReportsPage migration
  UI_INTEGRATION_AUDIT_FIXES.md
  full_ui.html
Due: none

Complete audit of corporate actions UI integration
  CORPORATE_ACTIONS_UI_INTEGRATION_AUDIT.md
Due: none

Comprehensive FMP Pro integration plan for corporate actions
  CORPORATE_ACTIONS_FMP_INTEGRATION_PLAN.md
Due: none

Assistant checkpoint
  full_ui.html
Due: none

Revised FMP integration plan aligned with consolidated architecture
  CORPORATE_ACTIONS_FMP_INTEGRATION_PLAN_V2.md
Due: none

Phase 1 & 2: Extend FMP Provider and add DataHarvester corporate actions capabilities
  backend/app/agents/data_harvester.py
  backend/app/integrations/fmp_provider.py
Due: pytest-changed

Phase 3: Create corporate_actions_upcoming.json pattern definition
  backend/patterns/corporate_actions_upcoming.json
Due: pattern-lint

Phase 4 & 5: Add pattern registry entry and refactor CorporateActionsPage
  full_ui.html
Due: none

Integration test simulation: Review patterns and code changes
  CORPORATE_ACTIONS_INTEGRATION_TEST_SIMULATION.md
Due: none

Add comprehensive holdings integration review
  HOLDINGS_INTEGRATION_REVIEW.md
Due: none

Field name mismatch analysis: qty vs qty_open
  FIELD_NAME_MISMATCH_ANALYSIS.md
Due: none

Add field name evolution analysis and refactor assessment
  FIELD_NAME_EVOLUTION_ANALYSIS.md
Due: none

Broader refactor plan assessment: Field name evolution vs current priorities
  BROADER_REFACTOR_PLAN_ASSESSMENT.md
Due: none

Update how holdings are calculated for corporate actions
  backend/app/agents/data_harvester.py
  backend/patterns/corporate_actions_upcoming.json
Due: pattern-lint, pytest-changed

Fix corporate actions field name mismatches and complete Phase 3 plan
  PHASE_3_AND_CORP_ACTIONS_COMPLETION_PLAN.md
Due: none

Phase 3 Week 6: Complete legacy agent cleanup and documentation updates
  AGENT_CONVERSATION_MEMORY.md
  ARCHITECTURE.md
  PHASE_3_COMPLETE.md
  PHASE_3_WEEKS_4-5_VALIDATION_COMPLETE.md
  README.md
  backend/app/agents/.archive/alerts_agent.py
  backend/app/agents/.archive/charts_agent.py
  backend/app/agents/.archive/optimizer_agent.py
  backend/app/agents/.archive/ratings_agent.py
  backend/app/agents/.archive/reports_agent.py
  backend/app/api/executor.py
  combined_server.py
Due: pytest-changed

Corporate actions validation and Phase 3 cleanup validation complete
  COMPLETION_SUMMARY.md
  CORPORATE_ACTIONS_VALIDATION_REPORT.md
  DATABASE_SCHEMA_ANALYSIS.md
Due: none

Validate database schema analysis findings and broader field name refactor plan
  DATABASE_SCHEMA_VALIDATION_REPORT.md
Due: none

Validate broader field name refactor plan and create comprehensive execution plan
  BROADER_FIELD_NAME_REFACTOR_PLAN.md
Due: none

Confirm legacy and archived code are not actively used
  LEGACY_CODE_USAGE_ANALYSIS.md
Due: none

Complete corporate actions feature with API integration and testing
  CORPORATE_ACTIONS_E2E_TEST_REPORT.md
  replit.md
Due: none
