Repository mwd474747/DawsOSP: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, pytest-changed

.pre-commit-config.yaml:

# Pre-commit hooks for DawsOS Trinity Architecture compliance
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Trinity Architecture Compliance Checker
  - repo: local
    hooks:
      - id: trinity-compliance
        name: Trinity Architecture Compliance Check
        entry: python3 scripts/check_compliance.py
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        args: ['--strict']
        stages: [commit]

  # Pattern Linter (if exists)
  - repo: local
    hooks:
      - id: pattern-lint
        name: Pattern Configuration Linter
        entry: bash -c 'if [ -f scripts/lint_patterns.py ]; then python3 scripts/lint_patterns.py; fi'
        language: system
        files: 'patterns/.*\.json$'
        pass_filenames: false
        stages: [commit]

  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: ['--line-length=100']
        files: '^dawsos/.*\.py$'

  # Python import sorting with isort
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black', '--line-length', '100']
        files: '^dawsos/.*\.py$'

  # Flake8 for Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--extend-ignore=E203,W503']
        files: '^dawsos/.*\.py$'

  # Pytest on changed files (fast subset)
  - repo: local
    hooks:
      - id: pytest-changed
        name: Run pytest on changed files
        entry: bash -c 'if [ -f dawsos/test_system_health.py ]; then python3 -m pytest dawsos/test_system_health.py -v --tb=short; fi'
        language: system
        types: [python]
        pass_filenames: false
        stages: [commit]

  # Check for common issues
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: end-of-file-fixer
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: check-yaml
        files: '^dawsos/.*\.yaml$'
      - id: check-json
        files: '^dawsos/.*\.json$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements

  # Security checks with Bandit
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml', '--severity-level', 'medium']
        files: '^dawsos/.*\.py$'
        exclude: '^dawsos/(tests|venv)/.*$'

  # Type checking with mypy (optional)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: '^dawsos/core/.*\.py$'
        args: ['--ignore-missing-imports', '--no-strict-optional']
        additional_dependencies: ['types-requests']

Assessment: Phase 2 changes review and next steps
  PHASE_2_CHANGES_ASSESSMENT.md
Due: none

Fix Week 2 & 3 implementation issues (missing imports + capability registration)
  backend/app/agents/financial_analyst.py
Due: pytest-changed

Add validation report and Week 4 implementation plan
  WEEK2_WEEK3_VALIDATION_REPORT.md
  WEEK4_IMPLEMENTATION_PLAN.md
Due: none

Comprehensive API Usage Report: Complete analysis of executor API patterns
  API_USAGE_COMPREHENSIVE_REPORT.md
Due: none

Assessment: API Integration Gaps - All Findings Validated
  API_INTEGRATION_GAPS_ASSESSMENT.md
Due: none

Priority 1: Fix API Layer Integration - Custom Exceptions
  backend/app/api/executor.py
Due: pytest-changed

Validation: Priority 1 fixes complete and validated
  PRIORITY_1_FIXES_VALIDATION.md
Due: none

Assessment: API End-to-End Flow Analysis - All Gaps Fixed
  API_ANALYSIS_ASSESSMENT.md
Due: none

Next Steps: Priority planning after Priority 1 completion
  NEXT_STEPS_PRIORITIES.md
Due: none

Analysis: Service Layer Comprehensive Review
  SERVICE_LAYER_COMPREHENSIVE_ANALYSIS.md
Due: none

Fix: Service Layer Critical Issues - Phase 1
  backend/app/services/alerts.py
  backend/app/services/currency_attribution.py
  backend/app/services/factor_analysis.py
  backend/app/services/metrics.py
  backend/app/services/optimizer.py
  backend/app/services/risk_metrics.py
Due: pytest-changed

Refactor: Extract shared portfolio helpers
  backend/app/services/currency_attribution.py
  backend/app/services/portfolio_helpers.py
Due: pytest-changed

Fix: Update metrics.py to use shared portfolio helper
  backend/app/services/metrics.py
Due: pytest-changed

Week 4 Implementation: Pattern optimization + comprehensive test coverage
  backend/patterns/cycle_deleveraging_scenarios.json
  backend/patterns/export_portfolio_report.json
  backend/patterns/news_impact_analysis.json
  backend/patterns/policy_rebalance.json
  backend/patterns/portfolio_overview.json
  backend/patterns/portfolio_scenario_analysis.json
  backend/tests/integration/test_metrics_mwr.py
  backend/tests/unit/test_metrics_twr.py
Due: pattern-lint, pytest-changed

Add Week 4 implementation summary documentation
  WEEK4_IMPLEMENTATION_SUMMARY.md
Due: none

Update performance metrics display to show more detailed information
  full_ui.html
Due: none

Add ability to customize project planning and organization features
  .replit
Due: none

Improve financial calculations and chart data presentation
  backend/app/agents/financial_analyst.py
Due: pytest-changed

Improve data harvesting by filtering corporate actions by symbol
  backend/app/agents/data_harvester.py
  backend/app/integrations/fmp_provider.py
  combined_server.py
Due: pytest-changed

Improve error messages and empty states for better user guidance
  full_ui.html
Due: none

Add endpoint to test corporate actions functionality with user data
  combined_server.py
Due: pytest-changed

Update how user data is accessed to use direct database queries
  combined_server.py
Due: pytest-changed

Use actual user UUID from database for corporate actions
  combined_server.py
Due: pytest-changed

Docs: Recent changes summary and sync status
  RECENT_CHANGES_SUMMARY.md
Due: none

Analysis: Remote changes analysis and compatibility assessment
  REMOTE_CHANGES_ANALYSIS.md
Due: none

Add extensive data points for company and financial information
  attached_assets/Pasted-Subscription-Premium-Annual-Plan-Change-Plan-Plan-Details-Current-Ultimate-Company-and-Reference-Da-1762352441044_1762352441048.txt
Due: none

Refine position calculations and error handling for scenarios
  backend/app/services/scenarios.py
Due: pytest-changed

Update financial calculations to use correct quantity values
  backend/app/agents/financial_analyst.py
  backend/app/services/scenarios.py
Due: pytest-changed

Update how open quantity is displayed in scenario data
  backend/app/services/scenarios.py
Due: pytest-changed

Phase 1: Add provenance warnings, fix pattern output extraction, update 6 patterns to standard format
  .archive/corporate-actions-2025-01-14/CORPORATE_ACTIONS_END_TO_END_DIAGNOSIS.md
  .archive/field-naming-2025-01-14/FIELD_NAMING_COMPREHENSIVE_ANALYSIS.md
  .archive/field-naming-2025-01-14/FIELD_NAMING_CONSISTENCY_REFACTOR_PLAN.md
  .archive/phase1-2025-01-14/PHASE_0_INVESTIGATION_REPORT.md
  .archive/phase1-2025-01-14/PHASE_1_FIXES_COMPLETE.md
  API_CONTRACT.md
  API_FIELD_MAPPINGS.md
  ARCHITECTURE.md
  CHANGELOG.md
  CODEBASE_REVIEW_FINDINGS.md
  CORPORATE_ACTIONS_DIAGNOSTIC_FIX.md
  DATABASE.md
  DATA_ARCHITECTURE.md
  DATA_ARCHITECTURE_ANALYSIS.md
  DEEP_PATTERN_INTEGRATION_ANALYSIS.md
  DEVELOPMENT_GUIDE.md
  DOCUMENTATION.md
  DOCUMENTATION_REFACTOR_PLAN.md
  DOCUMENTATION_REFACTOR_SUMMARY.md
  FIELD_NAMING_SYSTEM_ANALYSIS.md
  INTEGRATED_ARCHITECTURE_REFACTORING_PLAN.md
  LEGACY_FIELD_DOCUMENTATION.md
  NON_BACKEND_WORK_COMPLETE.md
  PHASE_1_COMPLETE_SUMMARY.md
  PHASE_1_VALIDATION_REPORT.md
  REFACTORING_MASTER_PLAN.md
  REMOTE_CHANGES_EVALUATION.md
  REMOTE_SYNC_COMPLETE.md
  REPLIT_FEEDBACK_EVALUATION.md
  backend/app/agents/data_harvester.py
  backend/app/agents/financial_analyst.py
  backend/app/core/pattern_orchestrator.py
  backend/db/migrations/014_add_quantity_deprecation_comment.sql
  backend/patterns/cycle_deleveraging_scenarios.json
  backend/patterns/holding_deep_dive.json
  backend/patterns/macro_trend_monitor.json
  backend/patterns/portfolio_cycle_risk.json
  backend/patterns/portfolio_macro_overview.json
  backend/patterns/portfolio_scenario_analysis.json
  full_ui.html
Due: pattern-lint, pytest-changed

Update documentation for Week 4 pattern optimization
  ARCHITECTURE.md
  docs/reference/PATTERNS_REFERENCE.md
Due: none

Add testing prompts for Replit agent - Phase 1 validation
  REPLIT_AGENT_TESTING_PROMPTS.md
Due: none
