Repository mwd474747/DawsOSP: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, pytest-changed

.pre-commit-config.yaml:

# Pre-commit hooks for DawsOS Trinity Architecture compliance
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Trinity Architecture Compliance Checker
  - repo: local
    hooks:
      - id: trinity-compliance
        name: Trinity Architecture Compliance Check
        entry: python3 scripts/check_compliance.py
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        args: ['--strict']
        stages: [commit]

  # Pattern Linter (if exists)
  - repo: local
    hooks:
      - id: pattern-lint
        name: Pattern Configuration Linter
        entry: bash -c 'if [ -f scripts/lint_patterns.py ]; then python3 scripts/lint_patterns.py; fi'
        language: system
        files: 'patterns/.*\.json$'
        pass_filenames: false
        stages: [commit]

  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: ['--line-length=100']
        files: '^dawsos/.*\.py$'

  # Python import sorting with isort
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black', '--line-length', '100']
        files: '^dawsos/.*\.py$'

  # Flake8 for Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--extend-ignore=E203,W503']
        files: '^dawsos/.*\.py$'

  # Pytest on changed files (fast subset)
  - repo: local
    hooks:
      - id: pytest-changed
        name: Run pytest on changed files
        entry: bash -c 'if [ -f dawsos/test_system_health.py ]; then python3 -m pytest dawsos/test_system_health.py -v --tb=short; fi'
        language: system
        types: [python]
        pass_filenames: false
        stages: [commit]

  # Check for common issues
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: end-of-file-fixer
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: check-yaml
        files: '^dawsos/.*\.yaml$'
      - id: check-json
        files: '^dawsos/.*\.json$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements

  # Security checks with Bandit
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml', '--severity-level', 'medium']
        files: '^dawsos/.*\.py$'
        exclude: '^dawsos/(tests|venv)/.*$'

  # Type checking with mypy (optional)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: '^dawsos/core/.*\.py$'
        args: ['--ignore-missing-imports', '--no-strict-optional']
        additional_dependencies: ['types-requests']

Create or find securities before executing trades
  backend/app/services/trade_execution.py
Due: pytest-changed

Created a checkpoint
  full_ui.html
Due: none

Improve how results are stored for specific data types
  backend/app/core/pattern_orchestrator.py
Due: pytest-changed

Improve currency attribution calculations for financial holdings
  backend/app/services/currency_attribution.py
Due: pytest-changed

Add database documentation assessment and validation
  CRITICAL_ISSUES_ASSESSMENT.md
  DATABASE_DOCUMENTATION_ASSESSMENT.md
  DATABASE_NEEDS_VALIDATION.md
Due: none

Update database documentation to reflect current implementation and schema
  DATABASE.md
Due: none

Add database validation and review documentation
  CORPORATE_ACTIONS_DATAFLOW_REVIEW.md
  CORPORATE_ACTIONS_GAPS_ASSESSMENT.md
  DATABASE_AGENT_PROMPTS.md
  DATABASE_MD_REVIEW_UPDATE.md
  DATABASE_MD_UPDATE_REVIEW.md
  DATABASE_NEEDS_VALIDATION.md
  DOCUMENTATION_ACCURACY_REVIEW.md
Due: none

Update database validation findings for accuracy and completeness
  DATABASE_AGENT_PROMPTS.md
Due: none

Add comprehensive alpha stability and integration analysis
  ALPHA_STABILITY_PLAN.md
  DATABASE_AGENT_VALIDATION_REVIEW.md
  PATTERNS_AND_METRICS_GAPS_ANALYSIS.md
Due: none

Validate refactoring plan and assess service layer
  attached_assets/Pasted--Refactoring-Plan-Validation-Comprehensive-Verification-Date-November-3-2025-Purpose--1762183034864_1762183034864.txt
  attached_assets/Pasted--Service-Layer-Assessment-Comprehensive-Review-Date-November-3-2025-Purpose-Assess--1762182772425_1762182772425.txt
  attached_assets/Pasted-Assessing-the-proposed-aggressive-simplification-plan-against-our-current-plan-Comparing-approaches-1762182363253_1762182363254.txt
Due: none

Document database architecture and plan for alpha stability
  attached_assets/Pasted-Analyzing-what-s-needed-for-a-stable-alpha-reviewing-the-database-architecture-s-rationale-and-pla-1762181901099_1762181901101.txt
Due: none

Enhance financial analysis with new performance metrics and update data display
  backend/app/agents/financial_analyst.py
  backend/patterns/portfolio_overview.json
  combined_server.py
Due: pattern-lint, pytest-changed

Transitioned from Plan to Build mode
  attached_assets/Pasted-Examining-how-the-corporate-actions-endpoint-is-used-across-the-codebase-checking-for-dependencies--1762185699714_1762185699715.txt
Due: none

Enhance data handling and agent stability for improved performance
  DATABASE.md
  backend/app/agents/alerts_agent.py
  backend/app/agents/charts_agent.py
  backend/app/agents/claude_agent.py
  backend/app/agents/data_harvester.py
  backend/app/agents/financial_analyst.py
  backend/app/agents/macro_hound.py
  backend/app/agents/optimizer_agent.py
  backend/app/agents/ratings_agent.py
  backend/app/agents/reports_agent.py
  backend/app/core/pattern_orchestrator.py
  combined_server.py
Due: pytest-changed

Add detailed testing plans and scripts for Phase 2 validation
  backend/tests/PHASE2_TESTING_CHECKLIST.md
  backend/tests/validate_phase2_changes.py
Due: pytest-changed

Phase 1: Fix root causes - flatten data structures and move metadata to trace
  PHASE_1_COMPLETE.md
  backend/app/agents/financial_analyst.py
  backend/app/core/pattern_orchestrator.py
  full_ui.html
Due: pytest-changed

Add agent conversation memory and Phase 2 planning
  AGENT_CONVERSATION_MEMORY.md
  PHASE_2_PLAN.md
Due: none

Update agent conversation memory documentation with refactoring progress
  agent_conversation_memory.md
Due: none

Consolidate agents to improve architecture and reduce redundancy
  AGENT_CONVERSATION_MEMORY.md
  agent_conversation_memory.md
Due: none

Add agent coordination plan for Claude IDE and Replit collaboration
  AGENT_CONVERSATION_MEMORY.md
  AGENT_COORDINATION_PLAN.md
Due: none

Update conversation memory with coordination plan and current work status
  AGENT_CONVERSATION_MEMORY.md
Due: none

Update agent coordination: Three-agent structure (Claude IDE PRIMARY, Claude Code with subagents, Replit)
  AGENT_CONVERSATION_MEMORY.md
  AGENT_COORDINATION_PLAN.md
Due: none

Update current work status section to reflect three-agent structure
  AGENT_CONVERSATION_MEMORY.md
Due: none

Add critical considerations for deploying on Replit environment
  AGENT_CONVERSATION_MEMORY.md
Due: none

Address Replit agent questions: Phase 3 redesign, feature flags, pattern idempotency, secrets audit, connection analysis
  AGENT_CONVERSATION_MEMORY.md
Due: none

Update shared memory: Phase 2 approved by Replit agent, ready for execution
  AGENT_CONVERSATION_MEMORY.md
Due: none

Phase 2 execution plan: Ready for execution with Replit agent approval
  AGENT_CONVERSATION_MEMORY.md
  PHASE_2_EXECUTION_PLAN.md
Due: none

Add comprehensive validation report for API patterns and authentication
  PHASE_2A_VALIDATION_REPORT.md
  comprehensive_pattern_test.py
Due: pytest-changed

Improve data wrapping to use semantically meaningful keys
  PHASE_2B_STANDARDIZATION_REPORT.md
  backend/app/agents/base_agent.py
Due: pytest-changed

Document workflow dependencies and agent database usage
  WORKFLOW_DEPENDENCIES_REPORT.md
Due: none

Implement feature flags for agent consolidation and routing
  backend/FEATURE_FLAGS_GUIDE.md
  backend/app/core/agent_runtime.py
  backend/app/core/feature_flags.py
  backend/config/feature_flags.json
Due: pytest-changed

Add consolidated capabilities to the financial analyst agent
  CAPABILITY_ROUTING_REPORT.md
  backend/app/agents/financial_analyst.py
  backend/app/core/agent_runtime.py
  backend/app/core/capability_mapping.py
Due: pytest-changed

Add report detailing successful feature flag routing tests
  FEATURE_FLAG_TEST_REPORT.md
Due: none

Update agent status and task completion details
  AGENT_CONVERSATION_MEMORY.md
Due: none

Complete system testing and prepare for agent consolidation
  PHASE_2_COMPLETION_SUMMARY.md
  comprehensive_pattern_test.py
  replit.md
Due: pytest-changed

Update conversation memory documentation with phase 2 completion details
  AGENT_CONVERSATION_MEMORY.md
Due: none

Resolve merge conflict: Phase 2 complete, integrate Claude Code Agent notes
  AGENT_CONVERSATION_MEMORY.md
Due: none
