Repository mwd474747/DawsOSP: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, pytest-changed

.pre-commit-config.yaml:

# Pre-commit hooks for DawsOS Trinity Architecture compliance
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Trinity Architecture Compliance Checker
  - repo: local
    hooks:
      - id: trinity-compliance
        name: Trinity Architecture Compliance Check
        entry: python3 scripts/check_compliance.py
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        args: ['--strict']
        stages: [commit]

  # Pattern Linter (if exists)
  - repo: local
    hooks:
      - id: pattern-lint
        name: Pattern Configuration Linter
        entry: bash -c 'if [ -f scripts/lint_patterns.py ]; then python3 scripts/lint_patterns.py; fi'
        language: system
        files: 'patterns/.*\.json$'
        pass_filenames: false
        stages: [commit]

  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: ['--line-length=100']
        files: '^dawsos/.*\.py$'

  # Python import sorting with isort
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black', '--line-length', '100']
        files: '^dawsos/.*\.py$'

  # Flake8 for Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--extend-ignore=E203,W503']
        files: '^dawsos/.*\.py$'

  # Pytest on changed files (fast subset)
  - repo: local
    hooks:
      - id: pytest-changed
        name: Run pytest on changed files
        entry: bash -c 'if [ -f dawsos/test_system_health.py ]; then python3 -m pytest dawsos/test_system_health.py -v --tb=short; fi'
        language: system
        types: [python]
        pass_filenames: false
        stages: [commit]

  # Check for common issues
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: end-of-file-fixer
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: check-yaml
        files: '^dawsos/.*\.yaml$'
      - id: check-json
        files: '^dawsos/.*\.json$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements

  # Security checks with Bandit
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml', '--severity-level', 'medium']
        files: '^dawsos/.*\.py$'
        exclude: '^dawsos/(tests|venv)/.*$'

  # Type checking with mypy (optional)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: '^dawsos/core/.*\.py$'
        args: ['--ignore-missing-imports', '--no-strict-optional']
        additional_dependencies: ['types-requests']

Update scripts for analysis and testing of system components
  analyze_patterns.py
  analyze_refactoring_opportunities.py
  archive/legacy/refactoring/INVENTORY_FINDINGS_SUMMARY.txt
  archive/legacy/refactoring/PHASE1_COMMIT_MESSAGE.txt
  archive/legacy/scripts/INDEX.md
  archive/legacy/scripts/validate_markets.py
  migrate_patterns_bulk.py
  test_capability_routing.py
  test_economic_data_fix.py
  test_graph_intelligence_imports.py
  test_options_flow_complete.py
Due: pytest-changed

Update system documentation and add new compliance alert
  .replit
  SYSTEM_STATUS.md
  archive/legacy/INDEX.md
  storage/alerts/alerts.json
Due: none

Transitioned from Plan to Build mode
  .replit
  storage/alerts/alerts.json
Due: none

Update system status to reflect current issues and documentation accuracy
  SYSTEM_STATUS.md
Due: none

Update documentation to clarify common issues and their solutions
  TROUBLESHOOTING.md
Due: none

Update documentation to reflect current system status and known issues
  CLAUDE.md
Due: none

Update documentation to clarify capability usage and common mistakes
  CAPABILITY_ROUTING_GUIDE.md
Due: none

Update system status and add documentation for pattern system debt
  .claude/trinity_architect.md
Due: none

Improve pattern authoring with new documentation and alert
  KNOWN_PATTERN_ISSUES.md
  PATTERN_AUTHORING_GUIDE.md
  storage/alerts/alerts.json
Due: none

Expand financial analysis capabilities by adding two new patterns
  .claude/integration_validator.md
  .claude/parallel_refactor_coordinator.md
  CLAUDE.md
  README.md
  SYSTEM_STATUS.md
Due: none

Transitioned from Plan to Build mode
  .streamlit/config.toml
  storage/alerts/alerts.json
Due: none

Update project roadmap document with current system status and completed phases
  PROJECT_ROADMAP.md
Due: none

Update documentation to reflect system status and roadmap
  replit.md
Due: none

Add deep macroeconomic analysis with systemic risk assessment
  dawsos/agents/financial_analyst.py
  dawsos/core/agent_capabilities.py
  dawsos/patterns/queries/deep_macro_analysis.json
Due: pattern-lint, pytest-changed

Add systemic risk analysis to financial analyst capabilities
  dawsos/agents/financial_analyst.py
Due: pytest-changed

Add new compliance violation alerts and configure server settings
  .replit
  .streamlit/config.toml
  dawsos/storage/alerts/alerts.json
  storage/alerts/alerts.json
Due: none

Add a critical alert for Trinity compliance violations
  storage/alerts/alerts.json
Due: none

Enhance financial system with systemic risk analysis capabilities
  replit.md
Due: none

Add systemic risk analysis and display to economic dashboard
  .replit
  dawsos/ui/economic_dashboard.py
Due: pytest-changed

Add new compliance violation alerts for the economic dashboard
  .replit
  storage/alerts/alerts.json
Due: none

Add systemic risk gauges and analysis to the economic dashboard
  replit.md
Due: none

Improve the economic dashboard's information organization and layout
  .replit
  dawsos/ui/economic_dashboard.py
  storage/alerts/alerts.json
Due: pytest-changed

Revise economic dashboard with new executive summary and improved layout
  replit.md
  storage/alerts/alerts.json
Due: none

Categorize patterns by output type to build a universal UI rendering system
  PATTERN_OUTPUT_AUDIT.md
Due: none

Add response type and template fields to analysis and governance patterns
  dawsos/patterns/analysis/buffett_checklist.json
  dawsos/patterns/analysis/dalio_cycle.json
  dawsos/patterns/analysis/dcf_valuation.json
  dawsos/patterns/analysis/fundamental_analysis.json
  dawsos/patterns/analysis/moat_analyzer.json
  dawsos/patterns/analysis/owner_earnings.json
  dawsos/patterns/comprehensive_analysis.json
  dawsos/patterns/governance/audit_everything.json
  dawsos/patterns/governance/compliance_audit.json
  dawsos/patterns/governance/cost_optimization.json
  dawsos/patterns/governance/data_quality_check.json
  dawsos/patterns/governance/governance_template.json
  dawsos/patterns/governance/policy_validation.json
  dawsos/patterns/sector_rotation.json
  dawsos/patterns/ui/alert_manager.json
  dawsos/patterns/ui/confidence_display.json
  dawsos/patterns/ui/dashboard_generator.json
Due: pattern-lint

Add a universal system for displaying pattern execution results
  dawsos/ui/pattern_browser.py
  dawsos/ui/pattern_renderers.py
  dawsos/ui/unified_components.py
Due: pytest-changed

Add interactive visualizations for all data patterns
  replit.md
Due: none

Fix error when trying to display pattern results
  dawsos/ui/pattern_browser.py
Due: pytest-changed

Update import paths for UI components and add new compliance alerts
  .replit
  dawsos/ui/pattern_renderers.py
  storage/alerts/alerts.json
Due: pytest-changed

Transitioned from Plan to Build mode
  .replit
Due: none

Add intelligent chat processing with entity extraction and memory
  .replit
  dawsos/core/conversation_memory.py
  dawsos/core/enhanced_chat_processor.py
  dawsos/core/entity_extractor.py
  dawsos/core/streaming_executor.py
  dawsos/patterns/smart/smart_market_briefing.json
  dawsos/patterns/smart/smart_opportunity_finder.json
  dawsos/patterns/smart/smart_portfolio_review.json
  dawsos/patterns/smart/smart_risk_analyzer.json
  dawsos/patterns/smart/smart_stock_analysis.json
  dawsos/ui/trinity_dashboard_tabs.py
  replit.md
  requirements.txt
Due: pattern-lint, pytest-changed

Add a new critical alert for Trinity compliance violations
  .replit
  storage/alerts/alerts.json
Due: none
