Repository mwd474747/DawsOSP: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, pytest-changed

.pre-commit-config.yaml:

# Pre-commit hooks for DawsOS Trinity Architecture compliance
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Trinity Architecture Compliance Checker
  - repo: local
    hooks:
      - id: trinity-compliance
        name: Trinity Architecture Compliance Check
        entry: python3 scripts/check_compliance.py
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        args: ['--strict']
        stages: [commit]

  # Pattern Linter (if exists)
  - repo: local
    hooks:
      - id: pattern-lint
        name: Pattern Configuration Linter
        entry: bash -c 'if [ -f scripts/lint_patterns.py ]; then python3 scripts/lint_patterns.py; fi'
        language: system
        files: 'patterns/.*\.json$'
        pass_filenames: false
        stages: [commit]

  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: ['--line-length=100']
        files: '^dawsos/.*\.py$'

  # Python import sorting with isort
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black', '--line-length', '100']
        files: '^dawsos/.*\.py$'

  # Flake8 for Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--extend-ignore=E203,W503']
        files: '^dawsos/.*\.py$'

  # Pytest on changed files (fast subset)
  - repo: local
    hooks:
      - id: pytest-changed
        name: Run pytest on changed files
        entry: bash -c 'if [ -f dawsos/test_system_health.py ]; then python3 -m pytest dawsos/test_system_health.py -v --tb=short; fi'
        language: system
        types: [python]
        pass_filenames: false
        stages: [commit]

  # Check for common issues
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: end-of-file-fixer
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: check-yaml
        files: '^dawsos/.*\.yaml$'
      - id: check-json
        files: '^dawsos/.*\.json$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements

  # Security checks with Bandit
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml', '--severity-level', 'medium']
        files: '^dawsos/.*\.py$'
        exclude: '^dawsos/(tests|venv)/.*$'

  # Type checking with mypy (optional)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: '^dawsos/core/.*\.py$'
        args: ['--ignore-missing-imports', '--no-strict-optional']
        additional_dependencies: ['types-requests']

Update market data to fetch live values and remove defaults
  .replit
  trinity3/market_overview_integrated.py
  trinity3/services/real_data_helper.py
Due: pytest-changed

Improve market data retrieval by handling multiple response formats
  .replit
  trinity3/market_overview_integrated.py
  trinity3/services/openbb_service.py
Due: pytest-changed

Adjust chart display to fit the available screen width
  .replit
  trinity3/main_professional.py
Due: pytest-changed

Integrate real economic data into the dashboard and update audit report
  .replit
  trinity3/AUDIT_REPORT.md
  trinity3/main_professional.py
Due: pytest-changed

Integrate DawsOS for real-time economic data and predictions
  .replit
  trinity3/main_professional.py
  trinity3/services/cycle_service.py
  trinity3/services/dawsos_integration.py
  trinity3/services/prediction_service.py
Due: pytest-changed

Improve DawsOS integration import paths and error handling
  trinity3/main_professional.py
  trinity3/services/cycle_service.py
  trinity3/services/dawsos_integration.py
  trinity3/services/prediction_service.py
Due: pytest-changed

Integrate DawsOS for advanced financial analysis capabilities
  .replit
  trinity3/main_professional.py
  trinity3/services/dawsos_integration.py
Due: pytest-changed

Integrate UI analysis with version 3.0
  .replit
Due: none

Update economic dashboard and data fetching for better analysis
  trinity3/main_professional.py
  trinity3/services/dawsos_integration.py
Due: pytest-changed

Add fundamental analysis tab and integrate advanced financial metrics
  .replit
  trinity3/main_professional.py
  trinity3/services/dawsos_integration.py
Due: pytest-changed

second commit
  DawsOSP/.claude/ACCURACY_VERIFICATION.md
Due: none

Complete capability wiring and governance remediation (53% → 87% compliance)
  DawsOSP/.ops/CAPABILITY_AUDIT_REPORT.md
  DawsOSP/.ops/GOVERNANCE_FINDINGS_2025-10-25.md
  DawsOSP/.ops/GOVERNANCE_REMEDIATION_COMPLETE.md
  DawsOSP/.ops/WIRING_SESSION_2025-10-25.md
  DawsOSP/.ops/WIRING_SESSION_FINAL_SUMMARY.md
  DawsOSP/.ops/WIRING_SESSION_HONEST_SUMMARY.md
  DawsOSP/CURRENT_STATE_HONEST_ASSESSMENT.md
  DawsOSP/backend/app/agents/claude_agent.py
  DawsOSP/backend/app/agents/data_harvester.py
  DawsOSP/backend/app/agents/financial_analyst.py
  DawsOSP/backend/app/agents/macro_hound.py
  DawsOSP/backend/app/agents/ratings_agent.py
  DawsOSP/backend/app/services/ratings.py
  DawsOSP/scripts/audit_capabilities.py
Due: pytest-changed

Remove obsolete backend/app/patterns directory and document pattern format migration
  DawsOSP/.ops/PATTERN_DIRECTORY_DUPLICATION_ANALYSIS.md
  DawsOSP/backend/app/patterns/loader.py
  DawsOSP/backend/app/patterns/portfolio_overview.json
Due: pattern-lint, pytest-changed

Comprehensive consistency audit and critical pattern fix
  DawsOSP/.ops/CONSISTENCY_AUDIT_FINAL_REPORT.md
  DawsOSP/.ops/DOCUMENTATION_STRUCTURE_ANALYSIS.md
  DawsOSP/.ops/PATTERN_ANALYSIS_REPORT_2025-10-25.md
  DawsOSP/backend/patterns/holding_deep_dive.json
Due: pattern-lint

RESTORE critical documentation after aggressive cleanup (9 → 27 files)
  DawsOSP/.claude/PATTERN_CAPABILITY_MAPPING.md
  DawsOSP/.claude/agents/ORCHESTRATOR.md
  DawsOSP/.claude/agents/analytics/MACRO_ARCHITECT.md
  DawsOSP/.claude/agents/business/METRICS_ARCHITECT.md
  DawsOSP/.claude/agents/business/OPTIMIZER_ARCHITECT.md
  DawsOSP/.claude/agents/business/RATINGS_ARCHITECT.md
  DawsOSP/.claude/agents/core/EXECUTION_ARCHITECT.md
  DawsOSP/.claude/agents/data/LEDGER_ARCHITECT.md
  DawsOSP/.claude/agents/data/SCHEMA_SPECIALIST.md
  DawsOSP/.claude/agents/infrastructure/INFRASTRUCTURE_ARCHITECT.md
  DawsOSP/.claude/agents/integration/PROVIDER_INTEGRATOR.md
  DawsOSP/.claude/agents/platform/OBSERVABILITY_ARCHITECT.md
  DawsOSP/.claude/agents/platform/REPORTING_ARCHITECT.md
  DawsOSP/.claude/agents/platform/TEST_ARCHITECT.md
  DawsOSP/.claude/agents/platform/UI_ARCHITECT.md
  DawsOSP/CLAUDE.md
  DawsOSP/DEVELOPMENT_GUIDE.md
  DawsOSP/FINAL_ASSESSMENT_AND_RECOMMENDATIONS.md
  DawsOSP/INDEX.md
Due: none

GOVERNANCE AUDIT: Document critical violations discovered after user review
  DawsOSP/.ops/GOVERNANCE_VIOLATIONS_AUDIT_2025-10-26.md
  DawsOSP/CLAUDE.md
Due: none

COMPREHENSIVE REMEDIATION PLAN: 245 hours over 10 weeks to fix all shortcuts
  DawsOSP/.ops/SHORTCUT_REMEDIATION_IMPLEMENTATION_PLAN.md
  DawsOSP/CLAUDE.md
Due: none

MASTER PLANNING: Integrate user feedback into comprehensive 301-hour roadmap
  DawsOSP/.ops/DOCUMENTATION_ALIGNMENT_PLAN.md
  DawsOSP/.ops/TASK_INVENTORY_2025-10-26.md
Due: none

ZERO SHORTCUTS POLICY: Comprehensive implementation guardrails
  DawsOSP/.ops/IMPLEMENTATION_GUARDRAILS.md
  DawsOSP/.ops/TASK_INVENTORY_2025-10-26.md
Due: none

P0-CODE-1 (Part 1/3): Create rating_rubrics schema + research-based seed files
  DawsOSP/backend/db/schema/rating_rubrics.sql
  DawsOSP/data/seeds/ratings/dividend_safety_v1.json
  DawsOSP/data/seeds/ratings/moat_strength_v1.json
  DawsOSP/data/seeds/ratings/resilience_v1.json
Due: none

P0-CODE-1 (Part 2/3): Extend seed_loader.py for ratings domain + fix UUID function
  DawsOSP/DOCUMENTATION_DELETION_ASSESSMENT.md
  DawsOSP/backend/db/schema/rating_rubrics.sql
  DawsOSP/scripts/seed_loader.py
Due: pytest-changed

P0-CODE-1 (Part 3/3 - COMPLETE): Implement rubric loading in ratings.py
  DawsOSP/backend/app/services/ratings.py
Due: pytest-changed

Documentation: Update CLAUDE.md to reflect P0-CODE-1 completion
  DawsOSP/CLAUDE.md
Due: none

P0-CODE-3 (COMPLETE): Update init_database.sh to include all schema files
  DawsOSP/backend/db/init_database.sh
Due: none

Enhancement: Add weights_source to rating metadata for traceability
  DawsOSP/backend/app/services/ratings.py
Due: pytest-changed

P0-CODE-2: Implement FMP fundamentals data transformation (14h)
  DawsOSP/backend/app/agents/data_harvester.py
Due: pytest-changed

Update CLAUDE.md: Mark all P0 remediation work as COMPLETE
  DawsOSP/CLAUDE.md
Due: none

P1-CODE-1: Implement macro.run_scenario capability with Dalio scenario framework (12h)
  DawsOSP/backend/app/agents/macro_hound.py
  DawsOSP/data/seeds/scenarios/dalio_debt_crisis_v1.json
  DawsOSP/data/seeds/scenarios/dalio_empire_cycle_v1.json
  DawsOSP/data/seeds/scenarios/standard_stress_tests_v1.json
  DawsOSP/scripts/seed_loader.py
Due: pytest-changed

P1-CODE-2: Implement macro.compute_dar (Drawdown-at-Risk) capability (16h)
  DawsOSP/backend/app/agents/macro_hound.py
  DawsOSP/backend/app/services/scenarios.py
  DawsOSP/backend/db/init_database.sh
Due: pytest-changed

P1-CODE-4: Implement provider data transformations (Polygon, FRED, NewsAPI) (20h)
  DawsOSP/backend/app/agents/data_harvester.py
Due: pytest-changed

Documentation: Update CLAUDE.md with P1 completion status (75% complete)
  DawsOSP/CLAUDE.md
  DawsOSP/SESSION_VERIFICATION_2025-10-26.md
Due: none

Agent Enhancement: Create ALERTS_ARCHITECT and CORPORATE_ACTIONS_ARCHITECT specialized agents
  DawsOSP/.claude/AGENT_ENHANCEMENT_SUMMARY.md
  DawsOSP/.claude/agents/business/ALERTS_ARCHITECT.md
  DawsOSP/.claude/agents/business/CORPORATE_ACTIONS_ARCHITECT.md
Due: none

P2-1 + Observability + Alerts: Parallel agent orchestration session (36h → 6h, 83% efficiency)
  DawsOSP/.ops/OBSERVABILITY_IMPLEMENTATION_REPORT.md
  DawsOSP/.ops/OBSERVABILITY_TASK_COMPLETE.md
  DawsOSP/.ops/ORCHESTRATOR_SESSION_2025-10-26.md
  DawsOSP/backend/app/agents/financial_analyst.py
  DawsOSP/backend/app/core/alert_validators.py
  DawsOSP/backend/app/services/alerts.py
  DawsOSP/backend/app/services/playbooks.py
  DawsOSP/backend/jobs/build_pricing_pack.py
  DawsOSP/backend/jobs/evaluate_alerts.py
  DawsOSP/backend/requirements.txt
  DawsOSP/docker-compose.observability.yml
  DawsOSP/observability/README.md
  DawsOSP/observability/alertmanager.yml
  DawsOSP/observability/alerts.yml
  DawsOSP/observability/grafana/dashboards/dawsos-slo-overview.json
  DawsOSP/observability/grafana/provisioning/dashboards/default.yml
  DawsOSP/observability/grafana/provisioning/datasources/prometheus.yml
  DawsOSP/observability/prometheus.yml
Due: pytest-changed
