Repository mwd474747/DawsOSP: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, pytest-changed

.pre-commit-config.yaml:

# Pre-commit hooks for DawsOS Trinity Architecture compliance
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Trinity Architecture Compliance Checker
  - repo: local
    hooks:
      - id: trinity-compliance
        name: Trinity Architecture Compliance Check
        entry: python3 scripts/check_compliance.py
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        args: ['--strict']
        stages: [commit]

  # Pattern Linter (if exists)
  - repo: local
    hooks:
      - id: pattern-lint
        name: Pattern Configuration Linter
        entry: bash -c 'if [ -f scripts/lint_patterns.py ]; then python3 scripts/lint_patterns.py; fi'
        language: system
        files: 'patterns/.*\.json$'
        pass_filenames: false
        stages: [commit]

  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: ['--line-length=100']
        files: '^dawsos/.*\.py$'

  # Python import sorting with isort
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black', '--line-length', '100']
        files: '^dawsos/.*\.py$'

  # Flake8 for Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--extend-ignore=E203,W503']
        files: '^dawsos/.*\.py$'

  # Pytest on changed files (fast subset)
  - repo: local
    hooks:
      - id: pytest-changed
        name: Run pytest on changed files
        entry: bash -c 'if [ -f dawsos/test_system_health.py ]; then python3 -m pytest dawsos/test_system_health.py -v --tb=short; fi'
        language: system
        types: [python]
        pass_filenames: false
        stages: [commit]

  # Check for common issues
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: end-of-file-fixer
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: check-yaml
        files: '^dawsos/.*\.yaml$'
      - id: check-json
        files: '^dawsos/.*\.json$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements

  # Security checks with Bandit
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml', '--severity-level', 'medium']
        files: '^dawsos/.*\.py$'
        exclude: '^dawsos/(tests|venv)/.*$'

  # Type checking with mypy (optional)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: '^dawsos/core/.*\.py$'
        args: ['--ignore-missing-imports', '--no-strict-optional']
        additional_dependencies: ['types-requests']

Add a functional navigation sidebar and header bar to the UI
  full_ui.html
Due: none

Add a comprehensive navigation system exposing all backend capabilities
  UI_REFACTORING_COMPLETE.md
  replit.md
Due: none

Integrate civil and empire cycles into the macro economics analysis
  .replit
  backend/patterns/macro_cycles_overview_fixed.json
  combined_server.py
  full_ui_fixed.html
Due: pattern-lint, pytest-changed

Add Civil Cycle analysis to assess internal societal stability and order
  .replit
  backend/app/agents/macro_hound.py
  backend/patterns/macro_cycles_overview.json
Due: pattern-lint, pytest-changed

Complete portfolio intelligence platform with all economic cycles and UI features
  COMPLETE_IMPLEMENTATION_SUMMARY.md
Due: none

Checkpoint before assistant change: Add a new API endpoint for user authentication.
  .replit
Due: none

Assistant checkpoint
  backend/app/integrations/fred_provider.py
Due: pytest-changed

Assistant checkpoint: Fix pattern orchestrator loop indentation
  backend/app/core/pattern_orchestrator.py
Due: pytest-changed

Assistant checkpoint: Remove license-dependent TimescaleDB features
  backend/db/schema/portfolio_metrics.sql
Due: none

Improve how investment holdings are calculated and displayed
  .replit
  combined_server.py
Due: pytest-changed

Checkpoint before assistant change: Add new financial analysis tools for portfolio insights
  backend/app/agents/financial_analyst.py
Due: pytest-changed

Add sector allocation analysis and improve portfolio data integration
  .replit
  backend/app/agents/financial_analyst.py
  backend/patterns/portfolio_overview.json
  dawsos-ui/src/app/page.tsx
  dawsos-ui/src/components/PortfolioOverview.tsx
Due: pattern-lint, pytest-changed

Integrate UI with application capabilities and use mock data
  .replit
  backend/app/agents/financial_analyst.py
  full_ui_fixed.html
  requirements.txt
Due: pytest-changed

Update UI to fetch and display attribution data
  .replit
  combined_server.py
  full_ui_fixed.html
  test_attribution.html
Due: pytest-changed

Improve the application's visual design with new interactive elements and error messaging
  full_ui_fixed.html
Due: none

Add a testing page to simulate optimizer functionality
  full_ui_fixed.html
  test_optimizer.html
Due: none

Display real security ratings using the buffett checklist pattern
  .replit
  RATINGS_PAGE_FIX_SUMMARY.md
  full_ui_fixed.html
Due: none

Add financial advice and Q&A capabilities to the AI assistant
  .replit
  backend/app/agents/claude_agent.py
  combined_server.py
  full_ui_fixed.html
Due: pytest-changed

Add functionality to generate and download portfolio reports
  .replit
  combined_server.py
  full_ui_fixed.html
  requirements.txt
  test_quarterly_report.pdf
  test_ytd_report.pdf
Due: pytest-changed

Add ability to update existing alerts and improve UI styling
  .replit
  combined_server.py
  full_ui_fixed.html
Due: pytest-changed

Add market data display with news impact analysis and portfolio tracking
  .replit
  full_ui_fixed.html
Due: none

Assistant checkpoint: Fix pattern execution inputs handling
  combined_server.py
Due: pytest-changed

Transitioned from Plan to Build mode
  .replit
Due: none

Enhance the UI by migrating advanced API client functionalities
  .replit
  API_CLIENT_ENHANCEMENTS_SUMMARY.md
  full_ui_fixed.html
  test_api_enhancements.html
Due: none

Improve formatting functions for currency, percentages, and dates
  .replit
  full_ui_fixed.html
Due: none

Add comprehensive scenario simulation and impact calculation logic
  full_ui_fixed.html
Due: none

Add a caching layer to improve data fetching and management
  full_ui_fixed.html
Due: none

Add styles for various UI elements and page layouts
  full_ui_fixed.html
Due: none

Add robust error handling for user-facing messages
  full_ui_fixed.html
Due: none

Add comprehensive testing framework for migrated UI functionalities
  .replit
  combined_server.py
  test_migrated_features.html
  test_results.md
Due: pytest-changed

Add new styles for interactive elements and alerts
  full_ui.html
  full_ui_fixed.html
Due: none

Migrate UI code from Next.js to single HTML file
  combined_server.py
  full_ui.html
  replit.md
Due: pytest-changed

Update data fetching and remove mock prices for financial analysis
  backend/patterns/portfolio_cycle_risk.json
  backend/patterns/portfolio_scenario_analysis.json
  full_ui.html
Due: pattern-lint

Update mock holdings data function with optional full data parameter
  full_ui.html
Due: none

Add tests to evaluate UI functionality and create a comprehensive report
  .replit
  test_ui_navigation.html
  ui_test_report.md
  ui_test_script.py
  ui_visual_test.py
Due: pytest-changed
