Repository mwd474747/DawsOSP: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, pytest-changed

.pre-commit-config.yaml:

# Pre-commit hooks for DawsOS Trinity Architecture compliance
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Trinity Architecture Compliance Checker
  - repo: local
    hooks:
      - id: trinity-compliance
        name: Trinity Architecture Compliance Check
        entry: python3 scripts/check_compliance.py
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        args: ['--strict']
        stages: [commit]

  # Pattern Linter (if exists)
  - repo: local
    hooks:
      - id: pattern-lint
        name: Pattern Configuration Linter
        entry: bash -c 'if [ -f scripts/lint_patterns.py ]; then python3 scripts/lint_patterns.py; fi'
        language: system
        files: 'patterns/.*\.json$'
        pass_filenames: false
        stages: [commit]

  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: ['--line-length=100']
        files: '^dawsos/.*\.py$'

  # Python import sorting with isort
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black', '--line-length', '100']
        files: '^dawsos/.*\.py$'

  # Flake8 for Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--extend-ignore=E203,W503']
        files: '^dawsos/.*\.py$'

  # Pytest on changed files (fast subset)
  - repo: local
    hooks:
      - id: pytest-changed
        name: Run pytest on changed files
        entry: bash -c 'if [ -f dawsos/test_system_health.py ]; then python3 -m pytest dawsos/test_system_health.py -v --tb=short; fi'
        language: system
        types: [python]
        pass_filenames: false
        stages: [commit]

  # Check for common issues
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: end-of-file-fixer
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: check-yaml
        files: '^dawsos/.*\.yaml$'
      - id: check-json
        files: '^dawsos/.*\.json$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements

  # Security checks with Bandit
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml', '--severity-level', 'medium']
        files: '^dawsos/.*\.py$'
        exclude: '^dawsos/(tests|venv)/.*$'

  # Type checking with mypy (optional)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: '^dawsos/core/.*\.py$'
        args: ['--ignore-missing-imports', '--no-strict-optional']
        additional_dependencies: ['types-requests']

Integrate a new service to transform financial data for analysis
  backend/app/agents/data_harvester.py
  backend/app/agents/ratings_agent.py
  backend/app/services/fundamentals_transformer.py
Due: pytest-changed

Improve financial explanations with detailed context and data
  backend/app/agents/claude_agent.py
Due: pytest-changed

Assistant checkpoint
  backend/app/services/scenarios.py
Due: pytest-changed

Assistant checkpoint: Complete scenario analysis feature integration
  backend/app/agents/charts_agent.py
  backend/app/agents/optimizer_agent.py
  backend/patterns/portfolio_scenario_analysis.json
Due: pattern-lint, pytest-changed

Assistant checkpoint: Implement scenario analysis integration
  backend/app/agents/macro_hound.py
  backend/app/services/optimizer.py
  backend/patterns/portfolio_scenario_analysis.json
Due: pattern-lint, pytest-changed

Checkpoint before assistant change: Add detailed report on ratings page issues and testing for fixes
  RATINGS_PAGE_AUDIT_REPORT.md
  test_ratings_fix.html
Due: none

Improve security rating accuracy and loading speed
  RATINGS_PAGE_FIXES_SUMMARY.md
  full_ui.html
Due: none

Prevent duplicate buffet ratings by aggregating holdings
  full_ui.html
Due: none

Prevent duplicate buffet ratings and ensure accurate symbol lookup
  backend/app/agents/ratings_agent.py
  backend/patterns/buffett_checklist.json
Due: pattern-lint, pytest-changed

Improve buffet analysis data parsing and error handling
  attached_assets/image_1762061826528.png
  full_ui.html
Due: none

Improve data accuracy for financial analysis by providing more realistic stub values
  backend/app/agents/data_harvester.py
  full_ui.html
Due: pytest-changed

Update analysis to use new data weighting and remove mock data
  backend/app/services/ratings.py
Due: pytest-changed

Improve buffet analysis data parsing and add testing
  full_ui.html
  test_ratings_parse.html
Due: none

Rename executor app to prevent conflicts and ensure proper execution
  backend/app/api/executor.py
Due: pytest-changed

Phase 0: Make imports optional for graceful degradation
  backend/app/core/agent_runtime.py
  backend/app/core/pattern_orchestrator.py
  backend/app/db/connection.py
Due: pytest-changed

Phase 1: Remove compliance, observability, and redis_pool_coordinator modules
  .archive/compliance-archived-20251102/__init__.py
  .archive/compliance-archived-20251102/attribution.py
  .archive/compliance-archived-20251102/export_blocker.py
  .archive/compliance-archived-20251102/rights_registry.py
  .archive/compliance-archived-20251102/watermark.py
  .claude/PROJECT_CONTEXT.md
  DOCKER_REMOVAL_SUMMARY.md
  IDE_AGENT_CONTEXT_REVIEW.md
  MACRO_DASHBOARD_AUDIT_REPORT 2.md
  PHASE_EXECUTION_STRATEGY.md
  ROADMAP.md
  SANITY_CHECK_REPORT.md
  TEST_FILES_VALUE_ASSESSMENT.md
  UNNECESSARY_COMPLEXITY_REVIEW.md
  backend/app/db/redis_pool_coordinator.py
  backend/observability/__init__.py
  backend/observability/errors.py
  backend/observability/metrics.py
  backend/observability/tracing.py
  backend/run_api.sh
Due: pytest-changed

Phase 2: Update scripts and remove observability references
  backend/app/api/executor.py
  backend/run_api.sh
Due: pytest-changed

Phase 3: Remove observability and Redis packages from requirements.txt
  backend/requirements.txt
Due: none

Phase 5: Delete safe unused files
  backend/api_server.py
  backend/app/core/database.py
  backend/app/services/trade_execution_old.py
  backend/simple_api.py
Due: pytest-changed

complexity reduction comitt
  .archive/root-test-files-2025-11-02/interactive_ui_test.html
  .archive/root-test-files-2025-11-02/quick_validation_test.py
  .archive/root-test-files-2025-11-02/test_enhanced_features.sh
  .archive/root-test-files-2025-11-02/test_integration.sh
  .archive/root-test-files-2025-11-02/test_ratings_fix.html
  .archive/root-test-files-2025-11-02/test_ratings_parse.html
  test_dashboard_results.json
  test_dashboard_results.txt
  test_portfolio_report.pdf
  test_quarterly_report.pdf
  test_ytd_report.pdf
Due: pytest-changed

fix up documentation
  .archive/documentation-analysis-2025-11-02/CLEANUP_DEPENDENCY_AUDIT.md
  .archive/documentation-analysis-2025-11-02/DOCKER_REMOVAL_SUMMARY.md
  .archive/documentation-analysis-2025-11-02/DOCUMENTATION_MISALIGNMENT_REVIEW.md
  .archive/documentation-analysis-2025-11-02/DOCUMENTATION_MISALIGNMENT_REVIEW_V2.md
  .archive/documentation-analysis-2025-11-02/IDE_AGENT_CONTEXT_REVIEW.md
  .archive/documentation-analysis-2025-11-02/MACRO_DASHBOARD_AUDIT_REPORT 2.md
  .archive/documentation-analysis-2025-11-02/PHASE_EXECUTION_STRATEGY.md
  .archive/documentation-analysis-2025-11-02/README.md
  .archive/documentation-analysis-2025-11-02/ROOT_TEST_FILES_CLEANUP.md
  .archive/documentation-analysis-2025-11-02/SANITY_CHECK_REPORT.md
  .archive/documentation-analysis-2025-11-02/TEST_FILES_VALUE_ASSESSMENT.md
  .archive/documentation-analysis-2025-11-02/UNNECESSARY_COMPLEXITY_REVIEW.md
  .archive/root-test-files-2025-11-02/README.md
  ARCHITECTURE.md
  DOCUMENTATION_REFACTOR_SUMMARY.md
  PRODUCT_SPEC.md
  README.md
  ROADMAP.md
  docs/DEVELOPER_SETUP.md
Due: none

validation plan
  attached_assets/Pasted-Plan-3-Revalidated-and-Ready-for-Approval-I-ve-created-a-comprehensive-revalidated-plan-for-Plan-3--1762114536430_1762114536431.txt
Due: none

replit file
  replit.md
Due: none

CRITICAL: Fix database connection AttributeError when coordinator is None
  backend/app/db/connection.py
Due: pytest-changed

Documentation: Add Replit deployment guardrails and update completion status
  .claude/PROJECT_CONTEXT.md
  REPLIT_DEPLOYMENT_GUARDRAILS.md
  ROADMAP.md
Due: none

CRITICAL: Fix macro cycles parameter bugs in MacroHound agent
  backend/app/agents/macro_hound.py
Due: pytest-changed

Clean up test output files and Python cache
  .archive/test-output-archived-20251102/EXAMPLE_RATING_OUTPUT.json
  .archive/test-output-archived-20251102/macro_reasoning_response.json
  .archive/test-output-archived-20251102/news_debug_response.json
  .archive/test-output-archived-20251102/news_pattern_response.json
  LOW_RISK_REFACTORING_OPPORTUNITIES_V2.md
  REFACTORING_PLAN_REVIEW.md
Due: none

Plan 3: Create revalidated backend refactoring plan
  PLAN_3_BACKEND_REFACTORING_REVALIDATED.md
Due: none

Improve database connection persistence across modules
  attached_assets/Pasted-I-ll-analyze-the-database-related-code-to-determine-what-s-actually-being-used-and-necessary-Datab-1762116190482_1762116190483.txt
  backend/app/db/connection.py
Due: pytest-changed

Add automated test for macro cycles page login functionality
  test_login_and_macro.js
Due: none

Improve database access by fixing module boundary issues
  replit.md
Due: none

Documentation Refactoring: Clear technical debt and correct project state
  .archive/completed-meta-analyses-20251102/DOCUMENTATION_REFACTOR_SUMMARY.md
  .archive/completed-meta-analyses-20251102/REFACTORING_PLAN_REVIEW.md
  .claude/PROJECT_CONTEXT.md
  ARCHITECTURE.md
  CURRENT_ISSUES.md
  DATABASE_OPERATIONS_VALIDATION.md
  ROADMAP.md
Due: none
