Repository mwd474747/DawsOSP: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, pytest-changed

pattern-lint:
  name: Pattern Configuration Linter
  entry: bash -c 'if [ -f scripts/lint_patterns.py ]; then python3 scripts/lint_patterns.py; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

pytest-changed:
  name: Run pytest on changed files
  entry: bash -c 'if [ -f dawsos/test_system_health.py ]; then python3 -m pytest dawsos/test_system_health.py -v --tb=short; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

Improve handling of pattern outputs for better compatibility
  .replit
  backend/app/core/pattern_orchestrator.py
Due: pytest-changed

Improve how macro dashboard data is displayed and processed
  .replit
  combined_server.py
  full_ui.html
Due: pytest-changed

Improve economic indicator calculations and display in the UI
  .replit
  backend/app/services/cycles.py
  backend/patterns/macro_cycles_overview.json
  full_ui.html
Due: pattern-lint, pytest-changed

Update data retrieval to map indicator names correctly
  .replit
  backend/app/services/cycles.py
Due: pytest-changed

Correctly scale economic indicators for accurate display on the dashboard
  attached_assets/image_1761953113300.png
  backend/app/services/cycles.py
  replit.md
Due: pytest-changed

Report on UI pattern integration status and identify issues
  UI_INTEGRATION_STATUS.md
Due: none

Improve system stability by fixing pattern integration failures
  PATTERN_FIX_PRIORITY.md
  PATTERN_FIX_SIMULATION.md
  PATTERN_INTEGRATION_PLAN.md
Due: none

Improve data handling and pattern compatibility across the system
  backend/app/agents/data_harvester.py
  backend/app/agents/optimizer_agent.py
  backend/app/core/pattern_orchestrator.py
  backend/patterns/export_portfolio_report.json
  backend/patterns/news_impact_analysis.json
Due: pattern-lint, pytest-changed

Implement password reset functionality for user accounts
  .replit
Due: none

Improve pattern integration framework for stability and functionality
  replit.md
Due: none

Enhance historical data analysis and reporting capabilities
  backend/app/agents/macro_hound.py
  combined_server.py
Due: pytest-changed

Add fallback logic for missing security symbols and update data source rights
  .ops/RIGHTS_REGISTRY.yaml
  backend/app/agents/ratings_agent.py
Due: pytest-changed

Transitioned from Plan to Build mode
  full_ui.html
Due: none

Integrate user-specific portfolio selection into the current interface
  full_ui.html
Due: none

Fix login error by adding user context to dashboard
  full_ui.html
Due: none

Improve system stability and add new features for better analysis
  combined_server.py
  replit.md
Due: pytest-changed

Ensure users always have a valid portfolio ID for analysis
  combined_server.py
  full_ui.html
Due: pytest-changed

Improve token refresh functionality and error handling
  combined_server.py
  frontend/api-client.js
Due: pytest-changed

Generate comprehensive test reports for dashboard functionality
  TEST_RESULTS_REPORT.md
  test_dashboard_results.json
  test_dashboard_results.txt
Due: none

Update patterns to refine data handling and analysis capabilities
  backend/patterns/buffett_checklist.json
  backend/patterns/cycle_deleveraging_scenarios.json
  backend/patterns/export_portfolio_report.json
  backend/patterns/news_impact_analysis.json
  backend/patterns/portfolio_macro_overview.json
  backend/patterns/portfolio_scenario_analysis.json
Due: pattern-lint

Add functionality to retrieve historical economic regime data
  backend/app/agents/macro_hound.py
  combined_server.py
Due: pytest-changed

Add interactive testing interface for the application
  interactive_ui_test.html
Due: none

Fix calculation and display of holdings values on the user interface
  combined_server.py
Due: pytest-changed

Show total return percentage based on cost since purchase
  combined_server.py
Due: pytest-changed

Update UI to show unrealized gain or loss instead of return
  full_ui.html
Due: none

Update data fetching to use new provider integration patterns
  backend/app/agents/data_harvester.py
  backend/app/integrations/base_provider.py
  backend/app/integrations/fmp_provider.py
  backend/app/integrations/fred_provider.py
  backend/app/integrations/news_provider.py
  backend/app/integrations/polygon_provider.py
Due: pytest-changed

Improve news data fetching and processing for accuracy and efficiency
  backend/app/agents/data_harvester.py
  news_debug_response.json
  news_pattern_response.json
Due: pytest-changed

Checkpoint before assistant change: Update financial data harvesting to use cash flow statements correctly
  backend/app/agents/data_harvester.py
Due: pytest-changed

Improve fetching financial data by handling special ticker formats
  backend/app/agents/data_harvester.py
Due: pytest-changed

Path conditions:
  pattern-lint: any of: patterns/.*\.json$
  pytest-changed: any of: \.py$
