Repository mwd474747/DawsOSP: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, pytest-changed

.pre-commit-config.yaml:

# Pre-commit hooks for DawsOS Trinity Architecture compliance
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Trinity Architecture Compliance Checker
  - repo: local
    hooks:
      - id: trinity-compliance
        name: Trinity Architecture Compliance Check
        entry: python3 scripts/check_compliance.py
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        args: ['--strict']
        stages: [commit]

  # Pattern Linter (if exists)
  - repo: local
    hooks:
      - id: pattern-lint
        name: Pattern Configuration Linter
        entry: bash -c 'if [ -f scripts/lint_patterns.py ]; then python3 scripts/lint_patterns.py; fi'
        language: system
        files: 'patterns/.*\.json$'
        pass_filenames: false
        stages: [commit]

  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: ['--line-length=100']
        files: '^dawsos/.*\.py$'

  # Python import sorting with isort
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black', '--line-length', '100']
        files: '^dawsos/.*\.py$'

  # Flake8 for Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--extend-ignore=E203,W503']
        files: '^dawsos/.*\.py$'

  # Pytest on changed files (fast subset)
  - repo: local
    hooks:
      - id: pytest-changed
        name: Run pytest on changed files
        entry: bash -c 'if [ -f dawsos/test_system_health.py ]; then python3 -m pytest dawsos/test_system_health.py -v --tb=short; fi'
        language: system
        types: [python]
        pass_filenames: false
        stages: [commit]

  # Check for common issues
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: end-of-file-fixer
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: check-yaml
        files: '^dawsos/.*\.yaml$'
      - id: check-json
        files: '^dawsos/.*\.json$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements

  # Security checks with Bandit
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml', '--severity-level', 'medium']
        files: '^dawsos/.*\.py$'
        exclude: '^dawsos/(tests|venv)/.*$'

  # Type checking with mypy (optional)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: '^dawsos/core/.*\.py$'
        args: ['--ignore-missing-imports', '--no-strict-optional']
        additional_dependencies: ['types-requests']

Enable dynamic routing for the single-page application interface
  .replit
  combined_server.py
Due: pytest-changed

Add new endpoints for portfolio holdings and positions
  backend/patterns/portfolio_cycle_risk.json
  combined_server.py
  full_ui.html
Due: pattern-lint, pytest-changed

Generate comprehensive test report and update testing dependencies
  .replit
  DAWSOS_TEST_SUMMARY_REPORT.md
  requirements.txt
  test_results_comprehensive.json
  test_results_comprehensive.md
Due: none

Add optimizer endpoint and improve test reporting
  .replit
  backend/app/agents/macro_hound.py
  combined_server.py
  test_results_comprehensive.json
  test_results_comprehensive.md
Due: pytest-changed

Add scenario analysis endpoint to provide mock data
  .replit
  combined_server.py
Due: pytest-changed

Improve test coverage and fix various section failures
  test_results_comprehensive.json
  test_results_comprehensive.md
Due: none

Add comprehensive testing scripts for UI and data auditing
  .archive/tests/compare_design.py
  .archive/tests/macro_data_audit.py
  .archive/tests/ui_test_script.py
  .archive/tests/ui_visual_test.py
Due: pytest-changed

Checkpoint before assistant change: Update market data fetching to include default symbols
  .replit
  combined_server.py
Due: pytest-changed

Checkpoint before assistant change: Improve the responsiveness and visual appeal of the user interface
  .replit
Due: none

Add automated tests to verify critical system fixes
  quick_validation_test.py
Due: pytest-changed

Provide default values for missing pattern inputs
  combined_server.py
Due: pytest-changed

Plan to add missing portfolio metrics infrastructure and eliminate technical debt
  METRICS_IMPLEMENTATION_PLAN.md
Due: none

Checkpoint before assistant change: Update project documentation with latest changes
  .replit
Due: none

Assistant checkpoint: Updated plan with Phase 0 for UI transaction fix
  METRICS_IMPLEMENTATION_PLAN.md
Due: none

Improve transaction data retrieval and display for portfolios
  combined_server.py
  full_ui.html
Due: pytest-changed

Update financial calculations and introduce daily valuation job
  backend/app/agents/financial_analyst.py
  backend/jobs/daily_valuation.py
  backend/jobs/metrics.py
Due: pytest-changed

Add script to calculate and store historical portfolio values
  .replit
  backend/jobs/backfill_daily_values.py
Due: pytest-changed

Extend financial analysis to include a full year of historical data
  backend/app/agents/financial_analyst.py
Due: pytest-changed

Improve platform description for clarity and conciseness
  replit.md
Due: none

Assistant checkpoint: Phase 0-1: Fix transactions endpoint and create tables
  backend/db/schema/portfolio_cash_flows.sql
  backend/db/schema/portfolio_daily_values.sql
  combined_server.py
Due: pytest-changed

Add functionality to compute portfolio performance metrics
  .replit
  attached_assets/Pasted-The-key-changes-made-Phase-0-UI-Transaction-Integration-COMPLETE-Fixed-api-transactions-e-1761942069950_1761942069950.txt
  backend/jobs/compute_metrics_simple.py
Due: pytest-changed

Improve transaction display by adding pagination and total counts
  combined_server.py
Due: pytest-changed

Correctly display transaction data by mapping API fields
  .replit
  full_ui.html
Due: none

Checkpoint before assistant change: Improve application state management for better UI interactions
  .replit
Due: none

Assistant checkpoint: Fix broken macro patterns without breaking features
  backend/app/agents/macro_hound.py
  backend/app/services/scenarios.py
  backend/patterns/cycle_deleveraging_scenarios.json
  backend/patterns/macro_cycles_overview.json
Due: pattern-lint, pytest-changed

Add detailed economic cycle analysis and reporting
  backend/patterns/macro_cycles_overview_fixed.json
Due: pattern-lint

Checkpoint before assistant change: Defer automated job scheduling and focus on manual metrics updates
  METRICS_IMPLEMENTATION_PLAN.md
  SYSTEM_STATUS.md
  replit.md
  update_metrics.py
Due: pytest-changed

Defer automated job scheduling for daily valuations backfill
  update_metrics.py
Due: pytest-changed

Assistant checkpoint
  MACRO_REFACTORING_PLAN.md
  MACRO_REFACTORING_SIMULATION.md
Due: none

Remove mock data and improve error handling for portfolio data
  .replit
  combined_server.py
  full_ui.html
Due: pytest-changed

Add documentation for macro refactoring plan and simulation
  .replit
Due: none

Improve internal order and scenario analysis capabilities
  .replit
  MACRO_DASHBOARD_AUDIT_REPORT.md
  backend/app/agents/macro_hound.py
  backend/app/services/cycles.py
  backend/db/schema/scenario_factor_tables.sql
Due: pytest-changed

Add current data snapshots and explanations to the macro dashboard
  .replit
  full_ui.html
  test_macro_snapshots.html
Due: none

Update debt cycle indicators to use new data keys
  .replit
  full_ui.html
Due: none

Improve short-term debt cycle indicator data handling
  .replit
  full_ui.html
Due: none
