Repository mwd474747/DawsOSP: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, pytest-changed

pattern-lint:
  name: Pattern Configuration Linter
  entry: bash -c 'if [ -f scripts/lint_patterns.py ]; then python3 scripts/lint_patterns.py; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

pytest-changed:
  name: Run pytest on changed files
  entry: bash -c 'if [ -f dawsos/test_system_health.py ]; then python3 -m pytest dawsos/test_system_health.py -v --tb=short; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

docs: Mark Architecture.md update as COMPLETE - progress at 92%
  REMAINING_REFACTOR_WORK.md
Due: none

refactor: Migrate news_impact_analysis.json to Format 1
  backend/patterns/news_impact_analysis.json
Due: pattern-lint

docs: Mark pattern standardization as COMPLETE - progress at 95%
  REMAINING_REFACTOR_WORK.md
Due: none

docs: Fix pattern standardization task description
  REMAINING_REFACTOR_WORK.md
Due: none

docs: Mark pattern standardization status as COMPLETE
  REMAINING_REFACTOR_WORK.md
Due: none

docs: Update overall progress to 95% - P4 tasks nearly complete
  REMAINING_REFACTOR_WORK.md
Due: none

Update request timeout handling for external data providers
  backend/app/integrations/base_provider.py
Due: pytest-changed

Improve initialization logging for the pattern system
  frontend/pattern-system.js
Due: none

Add database health check to ensure proper integration
  combined_server.py
Due: pytest-changed

Add database schema validation and health check functionality
  combined_server.py
Due: pytest-changed

Update integration constants and UI component imports
  backend/app/integrations/news_provider.py
  backend/app/services/optimizer.py
  frontend/pages.js
Due: pytest-changed

Add new JavaScript modules for form validation and error handling
  full_ui.html
Due: none

Add a consolidated alert service for system initialization
  backend/app/services/alerts.py
Due: pytest-changed

Update default password for login page to a more secure option
  frontend/pages.js
Due: none

Add detailed logging to help diagnose data loading errors
  backend/app/core/pattern_orchestrator.py
  combined_server.py
Due: pytest-changed

Add a factory function to create a scenario service instance
  backend/app/services/scenarios.py
Due: pytest-changed

fix: Remove anti-pattern singleton factory function
  ANTI_PATTERN_ANALYSIS.md
  backend/app/services/scenarios.py
  combined_server.py
Due: pytest-changed

fix: Update docstring and error handling for ScenarioService
  backend/app/services/scenarios.py
Due: pytest-changed

fix: Add ScenarioService to error handling fallback list
  combined_server.py
Due: pytest-changed

docs: Comprehensive analysis of Replit changes and lessons learned
  REPLIT_CHANGES_ANALYSIS.md
Due: none

docs: Comprehensive refactor plan for import error handling and architecture consistency
  COMPREHENSIVE_REFACTOR_PLAN.md
Due: none

docs: Update refactor plan with remaining singleton factory functions
  COMPREHENSIVE_REFACTOR_PLAN.md
Due: none

docs: Unified refactor plan summary
  UNIFIED_REFACTOR_SUMMARY.md
Due: none

docs: Validate refactor plan against database patterns and architecture
  COMPREHENSIVE_REFACTOR_PLAN.md
  REFACTOR_PLAN_VALIDATION.md
Due: none

refactor: Phase 1 - Granular import error handling with guardrails
  combined_server.py
Due: pytest-changed

refactor: Add availability checks for RequestCtx and ScenarioService usage
  combined_server.py
Due: pytest-changed

refactor: Phase 5 - Remove remaining singleton factory functions
  backend/app/agents/macro_hound.py
  backend/app/services/audit.py
  backend/app/services/cycles.py
  backend/app/services/fred_transformation.py
  backend/app/services/indicator_config.py
  backend/app/services/macro_aware_scenarios.py
  combined_server.py
Due: pytest-changed

docs: Update documentation to reflect singleton removal
  docs/refactoring/SINGLETON_MIGRATION_COMPLETE.md
  docs/reference/REPLIT_DEPLOYMENT_GUARDRAILS.md
Due: none

fix: Update cycles.py import statement to use IndicatorConfigManager
  backend/app/services/cycles.py
Due: pytest-changed

refactor: Phase 3 & Phase 6 - None value validation and service usage updates
  backend/app/core/agent_runtime.py
  backend/app/core/architecture_validator.py
  backend/app/core/pattern_orchestrator.py
  backend/config/INDICATOR_CONFIG_README.md
  backend/docs/FRED_SCALING_DOCUMENTATION.md
  combined_server.py
Due: pytest-changed

refactor: Complete all critical refactor phases
  REFACTOR_COMPLETION_SUMMARY.md
Due: none

docs: Complete comprehensive refactor review and update REMAINING_REFACTOR_WORK.md
  REFACTOR_REVIEW_COMPLETE.md
  REMAINING_REFACTOR_WORK.md
Due: none

refactor: Complete remaining P4 cleanup tasks
  .github/workflows/architecture-validation.yml
  ARCHITECTURE.md
  backend/app/api/routes/notifications.py
  backend/app/core/architecture_validator.py
  backend/app/services/auth.py
Due: pytest-changed

refactor: Complete test file migrations and remove unused import
  REMAINING_REFACTOR_WORK.md
  backend/app/api/routes/notifications.py
  backend/app/core/pattern_linter.py
Due: pytest-changed

docs: Add P4 cleanup completion summary
  P4_CLEANUP_COMPLETE.md
Due: none

docs: Add comprehensive refactor complete summary
  REFACTOR_COMPLETE_SUMMARY.md
Due: none

Path conditions:
  pattern-lint: any of: patterns/.*\.json$
  pytest-changed: any of: \.py$
