Repository mwd474747/DawsOSP: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, pytest-changed

pattern-lint:
  name: Pattern Configuration Linter
  entry: bash -c 'if [ -f scripts/lint_patterns.py ]; then python3 scripts/lint_patterns.py; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

pytest-changed:
  name: Run pytest on changed files
  entry: bash -c 'if [ -f dawsos/test_system_health.py ]; then python3 -m pytest dawsos/test_system_health.py -v --tb=short; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

Identify discrepancies between backend data outputs and UI expectations
  PATTERN_RESPONSE_STRUCTURE_VERIFICATION.md
  validate_pattern_ui_match.py
Due: pytest-changed

Update data paths for various UI components
  full_ui.html
Due: none

Update how attribution data is loaded and displayed
  full_ui.html
Due: none

Add detailed news analysis and filtering capabilities to the dashboard
  full_ui.html
Due: none

Update risk page to use new pattern renderer component
  full_ui.html
  test_risk_page_migration.js
Due: none

Improve investment optimization by handling diverse policy formats
  backend/app/agents/optimizer_agent.py
  full_ui.html
Due: pytest-changed

Add a security ratings and analysis page to the application
  full_ui.html
Due: none

Add corporate actions display with filtering and formatting
  full_ui.html
Due: none

docs
  AI_INSIGHTS_ARCHITECTURAL_ANALYSIS.md
Due: none

Refactor AI chat to use direct Claude API call
  AI_CHAT_REFACTOR_SUMMARY.md
  RECENT_CHANGES_INTEGRATION_REVIEW.md
  backend/requirements.txt
  combined_server.py
  full_ui.html
Due: pytest-changed

Add direct chat functionality to the AI assistant using the Claude API
  combined_server.py
Due: pytest-changed

Add support for Anthropic API to the AI chat functionality
  .replit
  requirements.txt
Due: none

Update Claude API integration to support Replit managed credentials
  backend/app/agents/claude_agent.py
  combined_server.py
Due: pytest-changed

Add AI assistant to help users with financial queries and analysis
  frontend/api-client.js
  full_ui.html
Due: none

database seeding plan
  DATABASE_DATA_REQUIREMENTS.md
  DATABASE_SEEDING_PLAN.md
  NEXT_STEPS_PLAN.md
  OPTIMIZER_CRASH_ANALYSIS.md
Due: none

Remove duplicate AI chat endpoint and keep Replit integration
  combined_server.py
  full_ui.html
Due: pytest-changed

Add realistic portfolio performance data for dashboard features
  backend/scripts/seed_portfolio_performance_data.py
Due: pytest-changed

Add more performance metrics and improve data seeding for portfolio analysis
  backend/scripts/seed_portfolio_performance_data.py
Due: pytest-changed

Add complete pricing pack data to populate portfolio performance
  backend/scripts/seed_portfolio_performance_data.py
Due: pytest-changed

Add simplified script to calculate and populate portfolio performance metrics
  populate_portfolio_metrics_simple.py
Due: pytest-changed

Add realistic portfolio performance data seeding script for business days
  backend/scripts/seed_portfolio_performance_clean.py
Due: pytest-changed

Validate database integration for transactions, holdings, and dashboard data
  DATA_INTEGRATION_VALIDATION_REPORT.md
Due: none

Populate security prices for Michael's portfolio
  populate_prices.py
Due: pytest-changed

Verify that database entries are correctly displayed on the user interface
  verify_ui_data.py
Due: pytest-changed

Add missing data to the dashboard to display performance metrics
  fix_dashboard_data.py
  test_dashboard.html
Due: pytest-changed

Allow users to choose how far back to view portfolio value
  backend/patterns/portfolio_overview.json
Due: pattern-lint

reviews of dashboard
  CHART_RENDERING_ISSUES_PLAN.md
  DASHBOARD_DATA_FLOW_REVIEW.md
  DOCUMENTATION_AUDIT_REPORT.md
  PATTERNS_DEEP_CONTEXT_REPORT.md
  RECENT_CHANGES_UI_RENDERING_REVIEW.md
Due: none

Backup: Documentation state before consolidation
  CHART_RENDERING_DEEP_ANALYSIS.md
  COMPLEXITY_REDUCTION_ANALYSIS.md
  COMPREHENSIVE_DOCUMENTATION_CLEANUP_PLAN.md
  DOCUMENTATION_CONSOLIDATION_PLAN.md
  DOCUMENTATION_CONSOLIDATION_REVIEW.md
  DUAL_STORAGE_CONTEXT_ANALYSIS.md
  DUAL_STORAGE_HISTORY_ANALYSIS.md
  DUAL_STORAGE_HISTORY_COMPLETE.md
Due: none

Documentation consolidation: 42 files → 20 files (52% reduction)
  .archive/audits/DATA_INTEGRATION_VALIDATION_REPORT.md
  .archive/audits/DOCUMENTATION_AUDIT_REPORT.md
  .archive/cleanup-plans/CHART_RENDERING_ISSUES_PLAN.md
  .archive/cleanup-plans/COMPREHENSIVE_DOCUMENTATION_CLEANUP_PLAN.md
  .archive/deprecated/CHART_RENDERING_DEEP_ANALYSIS.md
  .archive/deprecated/DATABASE_DATA_REQUIREMENTS.md
  .archive/deprecated/DATABASE_OPERATIONS_VALIDATION.md
  .archive/deprecated/DATABASE_SEEDING_PLAN.md
  .archive/deprecated/LOW_RISK_REFACTORING_OPPORTUNITIES_V2.md
  .archive/deprecated/PATTERN_RESPONSE_STRUCTURE_VERIFICATION.md
  .archive/deprecated/PATTERN_UI_INTEGRATION_PLAN.md
  .archive/deprecated/PLAN_3_BACKEND_REFACTORING_REVALIDATED.md
  .archive/deprecated/UI_INTEGRATION_PRIORITIES.md
  .archive/investigations/AGENT_FINDING_EVALUATION_COMPLETE.md
  .archive/investigations/AGENT_FINDING_FINAL_EVALUATION.md
  .archive/investigations/AI_INSIGHTS_ARCHITECTURAL_ANALYSIS.md
  .archive/investigations/BROADER_PERSPECTIVE_ANALYSIS.md
  .archive/investigations/DASHBOARD_DATA_FLOW_REVIEW.md
  .archive/investigations/OPTIMIZER_CRASH_ANALYSIS.md
  .archive/investigations/PATTERNS_DEEP_CONTEXT_REPORT.md
  .archive/investigations/REMAINING_FIXES_ANALYSIS.md
  .archive/sprints/AI_CHAT_REFACTOR_SUMMARY.md
  .archive/sprints/SPRINT_1_AUDIT_REPORT.md
  .archive/sprints/SPRINT_3_COMPLEX_ENDPOINTS_GUIDE.md
  AGENT_FINDING_EVALUATION.md
  AUTHENTICATION_REFACTORING_SPRINTS.md
  CURRENT_ISSUES.md
  DATABASE.md
  DEVELOPMENT_GUIDE.md
  NEXT_STEPS_PLAN.md
  PATTERNS_REFERENCE.md
  README.md
  RECENT_CHANGES_INTEGRATION_REVIEW.md
  RECENT_CHANGES_REVIEW.md
  RECENT_CHANGES_UI_RENDERING_REVIEW.md
  docs-backup-20251103-083134.tar.gz
Due: none

review of functions in dual storage
  attached_assets/Pasted-Analyzing-dual-storage-dependencies-and-what-s-required-to-safely-refactor-it-Gathering-context-to--1762176970689_1762176970690.txt
  attached_assets/Pasted-Analyzing-systems-for-over-engineering-and-unnecessary-complexity-without-changing-code-11-tool-1762176492242_1762176492242.txt
  attached_assets/Pasted-Deepening-the-analysis-tracing-the-execution-flow-data-transformations-and-edge-cases-that-could--1762176104947_1762176104948.txt
Due: none

Refactor: Remove dual storage mechanism and standardize pattern template references
  ARCHITECTURE.md
  DUAL_STORAGE_REFACTORING_COMPLETE.md
  DUAL_STORAGE_REFACTORING_EVALUATION.md
  PATTERNS_REFERENCE.md
  backend/app/core/pattern_orchestrator.py
  backend/patterns/buffett_checklist.json
  backend/patterns/cycle_deleveraging_scenarios.json
  backend/patterns/macro_trend_monitor.json
  backend/patterns/news_impact_analysis.json
  backend/patterns/portfolio_macro_overview.json
Due: pattern-lint, pytest-changed

Transitioned from Plan to Build mode
  attached_assets/Pasted-Assessing-the-findings-without-changing-code-Verifying-each-issue-s-accuracy-and-root-causes-17-1762178359224_1762178359225.txt
Due: none

Documentation improvements: Fix inaccuracies, add critical setup guides
  ARCHITECTURE.md
  DATABASE.md
  DOCUMENTATION_FINAL_REVIEW_REPORT.md
  DOCUMENTATION_IMPROVEMENTS_SUMMARY.md
  HOLDINGS_DETAIL_INVESTIGATION.md
  PATTERNS_REFERENCE.md
  README.md
Due: none

Update Claude Code IDE agent configuration with corrected information
  .claude/PROJECT_CONTEXT.md
Due: none

Add Claude Code IDE agent configuration review report
  CLAUDE_CODE_IDE_AGENT_REVIEW.md
Due: none

Path conditions:
  pattern-lint: any of: patterns/.*\.json$
  pytest-changed: any of: \.py$
