Repository mwd474747/DawsOSP: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, pytest-changed

pattern-lint:
  name: Pattern Configuration Linter
  entry: bash -c 'if [ -f scripts/lint_patterns.py ]; then python3 scripts/lint_patterns.py; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

pytest-changed:
  name: Run pytest on changed files
  entry: bash -c 'if [ -f dawsos/test_system_health.py ]; then python3 -m pytest dawsos/test_system_health.py -v --tb=short; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

Improve error logging for comparable position queries
  backend/app/agents/financial_analyst.py
Due: pytest-changed

Improve data harvesting by breaking down long date ranges into smaller chunks
  backend/app/agents/data_harvester.py
Due: pytest-changed

Update how the application displays upcoming corporate actions
  backend/patterns/corporate_actions_upcoming.json
Due: pattern-lint

testing and UI refractor
  E2E_TESTING_AND_UI_REFACTORING_COMPLETE.md
  NEXT_HIGH_PRIORITY_ITEMS.md
  PATTERN_OUTPUT_FORMAT_ANALYSIS.md
  UI_REFACTORING_COMPLETE.md
  backend/app/core/pattern_validator.py
  docs/PATTERN_OUTPUT_FORMATS.md
  full_ui.html
Due: pytest-changed

Pattern output format analysis complete - NO REFACTOR NEEDED
  REFACTORING_PROGRESS.md
Due: none

UI pattern integration end-to-end analysis - 80% integrated
  REFACTORING_PROGRESS.md
  UI_PATTERN_INTEGRATION_ENDTOEND.md
Due: none

stub file clean up
  PHASE_1_STUB_REMOVAL_COMPLETE.md
  PHASE_1_STUB_REMOVAL_PROGRESS.md
  STUB_AND_MOCK_REFACTOR_PLAN.md
  combined_server.py
  full_ui.html
Due: pytest-changed

Update documentation for AI portfolio management platform
  replit.md
Due: none

Add detailed view for individual security holdings
  full_ui.html
Due: none

Add macro economic context section to the dashboard page
  full_ui.html
Due: none

Update financial analyst to correctly retrieve security currency
  backend/app/agents/financial_analyst.py
Due: pytest-changed

Correctly order financial data by acquisition date instead of open date
  backend/app/agents/financial_analyst.py
Due: pytest-changed

Fix error when calculating average cost for open positions
  backend/app/agents/financial_analyst.py
Due: pytest-changed

Fix error when retrieving financial data by using correct price column
  backend/app/agents/financial_analyst.py
Due: pytest-changed

Update financial analyst to correctly fetch historical prices
  backend/app/agents/financial_analyst.py
Due: pytest-changed

Phase 1.1: Extract CSS to styles.css - 1,842 lines extracted
  PHASE_1_EXTRACTION_PROGRESS.md
  frontend/styles.css
Due: none

UI monolith refactoring analysis - CAN BE SAFELY REFACTORED
  REFACTORING_PROGRESS.md
  UI_MONOLITH_REFACTORING_ANALYSIS.md
Due: none

Phase 1: UI Monolith Refactoring Complete (Phases 1.2-1.4)
  MODULARIZATION_REPORT.md
  PAGES_EXTRACTION_COMPLETE.md
  PHASE_1_EXTRACTION_PROGRESS.md
  frontend/pages.js
  frontend/panels.js
  frontend/utils.js
Due: none

CRITICAL BUG FIX: Remove duplicate code from full_ui.html
  full_ui.html
Due: none

Phase 2: Extract Context and Pattern Systems - COMPLETE
  PHASE_2_EXTRACTION_PLAN.md
  frontend/context.js
  frontend/pattern-system.js
  full_ui.html
Due: none

CRITICAL BUG FIX: Correct module load order and dependency imports
  CRITICAL_BUGS_FOUND.md
  frontend/pages.js
  full_ui.html
Due: none

Add comprehensive refactoring stability report
  REFACTORING_STABILITY_REPORT.md
Due: none

Phase 2.5: Extract core systems to modules - ARCHITECTURE FIX
  frontend/cache-manager.js
  frontend/error-handler.js
  frontend/form-validator.js
  frontend/pattern-system.js
  frontend/utils.js
  full_ui.html
Due: none

CRITICAL FIX: context.js React.createElement undefined error
  frontend/context.js
Due: none

UI Refactoring Status - Comprehensive review and validation
  UI_REFACTORING_STATUS.md
Due: none

Archive old docs and add comprehensive architectural analysis
  .archive/phase1-ui-refactor/MODULARIZATION_REPORT.md
  .archive/phase1-ui-refactor/PAGES_EXTRACTION_COMPLETE.md
  .archive/phase1-ui-refactor/full_ui.html.backup
  .archive/phase1-ui-refactor/full_ui.html.backup.20251107_075836
  ARCHITECTURAL_ANALYSIS.md
  ARCHITECTURE_VERDICT.md
  CRITICAL_ARCHITECTURE_FIXES.md
  DEPENDENCY_ANALYSIS.md
  HTML_REFACTORING_RECOMMENDATIONS.md
  PHASE_2.5_COMPLETE.md
  PHASE_2_SERVICE_STUB_REVIEW_COMPLETE.md
  PHASE_2_SERVICE_STUB_REVIEW_PLAN.md
  backend/app/services/alerts.py
Due: pytest-changed

Update .claude configuration to reflect Nov 7 UI refactoring
  .claude/PROJECT_CONTEXT.md
  .claude/agents/data-integration-expert.md
  .claude/commands/check-stub-data.md
  .claude/commands/verify-setup.md
Due: none

Refactoring Phase 1.1: Pattern metadata API + JSON Schema foundation
  .cursor/plans/architectural-forensic-fix-084d0ea9.plan.md
  HTML_BACKEND_INTEGRATION_ANALYSIS.md
  REFACTORING_PHASE_1_PROGRESS.md
  backend/app/core/pattern_orchestrator.py
  backend/patterns/portfolio_overview.json
  combined_server.py
Due: pattern-lint, pytest-changed

CRITICAL FIX: Add centralized module loader with dependency validation
  full_ui.html
Due: none

CRITICAL FIX: Add missing Utils format functions and fix Panel validation
  frontend/utils.js
  full_ui.html
Due: none

Update Phase 1 progress - document module export fixes
  REFACTORING_PHASE_1_PROGRESS.md
Due: none

CRITICAL FIX: Move CacheManager dependency check to prevent format function blocking
  frontend/utils.js
Due: none

Document CacheManager dependency fix in Phase 1.1.5
  REFACTORING_PHASE_1_PROGRESS.md
Due: none

Update .claude configuration with Phase 1.1.5 fixes
  .claude/PROJECT_CONTEXT.md
  .claude/agents/data-integration-expert.md
  .claude/knowledge/distributed-monolith-fix.md
Due: none

Add comprehensive domain review of Phase 1.1.5 fixes
  PHASE_1.1.5_DOMAIN_REVIEW.md
Due: none

CRITICAL FIX Phase 1.1.6: Fix namespace mapping in pages.js
  NAMESPACE_MAPPING_ANALYSIS.md
  frontend/pages.js
  full_ui.html
Due: none

Update Phase 1 progress - document Phase 1.1.6 namespace mapping fixes
  REFACTORING_PHASE_1_PROGRESS.md
Due: none

Fix apiClient validation namespace
  full_ui.html
Due: none

EMERGENCY STABILITY FIX: Add component fallbacks to prevent crashes
  frontend/pages.js
Due: none

Path conditions:
  pattern-lint: any of: patterns/.*\.json$
  pytest-changed: any of: \.py$
