Repository mwd474747/DawsOSP: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, pytest-changed

pattern-lint:
  name: Pattern Configuration Linter
  entry: bash -c 'if [ -f scripts/lint_patterns.py ]; then python3 scripts/lint_patterns.py; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

pytest-changed:
  name: Run pytest on changed files
  entry: bash -c 'if [ -f dawsos/test_system_health.py ]; then python3 -m pytest dawsos/test_system_health.py -v --tb=short; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

Clarify Beancount integration and performance calculation status
  BEANCOUNT_ANALYSIS.md
Due: none

Simulate replacing portfolio functions with Beancount accounting
  BEANCOUNT_MIGRATION_SIMULATION.md
Due: none

Analyze complexity and challenges of refactoring to Beancount
  BEANCOUNT_REFACTORING_COMPLEXITY.md
Due: none

Document all portfolio data fields, database schemas, and data flows
  PORTFOLIO_DATA_FIELDS_COMPLETE.md
Due: none

Add historical navigation and sector allocation charts to portfolio overview
  attached_assets/Pasted-After-thoroughly-analyzing-the-codebase-I-can-provide-a-comprehensive-assessment-of-the-complexity--1761827940668_1761827940668.txt
  backend/patterns/portfolio_overview.json
Due: pattern-lint

Remove Beancount integration and unused backend components
  BEANCOUNT_ANALYSIS.md
  BEANCOUNT_MIGRATION_SIMULATION.md
  BEANCOUNT_REFACTORING_COMPLEXITY.md
  backend/app/services/ledger.py
  backend/jobs/reconcile_ledger.py
  combined_server_endpoints.py
  combined_server_enhanced.py
  combined_server_improved.py
  combined_server_original.py
  combined_server_part2.py
  combined_server_refactored.py
Due: pytest-changed

Checkpoint before assistant change: Adjust job execution order and remove ledger reconciliation step
  backend/jobs/scheduler.py
Due: pytest-changed

Remove ledger reconciliation and associated code from nightly jobs
  .replit
  backend/jobs/scheduler.py
Due: pytest-changed

Remove all Beancount ledger parsing and related database schemas
  backend/db/schema/ledger.sql
Due: none

Assistant checkpoint
  backend/app/api/routes/portfolios.py
  dawsos-ui/src/app/holdings/page.tsx
Due: pytest-changed

Add a feature to manage user roles and permissions within the application
  .replit
Due: none

Document all code patterns used throughout the system
  CODE_PATTERNS_INVENTORY.md
Due: none

Add detailed documentation for the system architecture and patterns
  attached_assets/Pasted-System-Architecture-DawsOS-is-a-sophisticated-AI-powered-portfolio-management-platform-built-on-Ba-1761829943607_1761829943608.txt
Due: none

Refactor code to integrate new pattern orchestration capabilities
  .replit
  combined_server.py
  requirements.txt
Due: pytest-changed

Improve data retrieval and error handling for portfolio metrics
  .replit
  backend/app/services/metrics.py
  combined_server.py
Due: pytest-changed

Update type hints to include Union for broader compatibility
  .replit
  combined_server.py
Due: pytest-changed

Update system architecture to use pattern orchestrator for improved workflow
  replit.md
Due: none

Update data retrieval to use a consistent date column name
  backend/app/services/metrics.py
  combined_server.py
Due: pytest-changed

Add ability to upload various types of files directly to the website interface
  .replit
Due: none

Plan database refactoring to unify initialization and fix errors
  REFACTORING_PLAN.md
Due: none

Unify database pool management and simplify application architecture
  ARCHITECTURE_DECISIONS.md
Due: none

Improve application architecture and resolve technical debt issues
  replit.md
Due: none

Improve database connection handling and agent initialization
  backend/app/db/connection.py
  combined_server.py
Due: pytest-changed

Update circuit breaker reset logic during system initialization
  combined_server.py
Due: pytest-changed

Update documentation to reflect recent system improvements
  replit.md
Due: none

Improve database connection handling and add pool access testing
  backend/app/db/connection.py
  combined_server.py
Due: pytest-changed

Improve database connection handling for UI stability
  .replit
  backend/app/db/connection.py
Due: pytest-changed

Seed full portfolio and transaction data for testing purposes
  seed_portfolio_data.sql
Due: none

Update currency attribution logic and UI styling for better data accuracy
  .replit
  backend/app/services/currency_attribution.py
  full_ui.html
Due: pytest-changed

Improve financial data handling and display across the application
  .replit
  backend/app/services/currency_attribution.py
  combined_server.py
  full_ui.html
Due: pytest-changed

Update UI elements and dependencies for a cleaner look
  .replit
  full_ui.html
  full_ui_backup.html
Due: none

Add new pages for macro cycles, market data, and AI insights
  .replit
  dawsos-ui/src/app/ai-insights/page.tsx
  dawsos-ui/src/app/alerts/page.tsx
  dawsos-ui/src/app/attribution/page.tsx
  dawsos-ui/src/app/globals.css
  dawsos-ui/src/app/layout.tsx
  dawsos-ui/src/app/macro-cycles/page.tsx
  dawsos-ui/src/app/market-data/page.tsx
  dawsos-ui/src/app/optimizer/page.tsx
  dawsos-ui/src/app/page.tsx
  dawsos-ui/src/app/ratings/page.tsx
  dawsos-ui/src/app/reports/page.tsx
  dawsos-ui/src/app/risk/page.tsx
  dawsos-ui/src/components/Sidebar.tsx
Due: none

Integrate real-time data into financial insights and reporting pages
  dawsos-ui/CAPABILITIES_MAPPING.md
  dawsos-ui/src/app/ai-insights/page.tsx
  dawsos-ui/src/app/alerts/page.tsx
  dawsos-ui/src/app/attribution/page.tsx
  dawsos-ui/src/app/macro-cycles/page.tsx
  dawsos-ui/src/app/page.tsx
  dawsos-ui/src/app/reports/page.tsx
  dawsos-ui/src/app/risk/page.tsx
  dawsos-ui/src/app/scenarios/page.tsx
  dawsos-ui/src/lib/api-client.ts
Due: none

Path conditions:
  pattern-lint: any of: patterns/.*\.json$
  pytest-changed: any of: \.py$
