Repository mwd474747/DawsOSP: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, pytest-changed

.pre-commit-config.yaml:

# Pre-commit hooks for DawsOS Trinity Architecture compliance
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Trinity Architecture Compliance Checker
  - repo: local
    hooks:
      - id: trinity-compliance
        name: Trinity Architecture Compliance Check
        entry: python3 scripts/check_compliance.py
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        args: ['--strict']
        stages: [commit]

  # Pattern Linter (if exists)
  - repo: local
    hooks:
      - id: pattern-lint
        name: Pattern Configuration Linter
        entry: bash -c 'if [ -f scripts/lint_patterns.py ]; then python3 scripts/lint_patterns.py; fi'
        language: system
        files: 'patterns/.*\.json$'
        pass_filenames: false
        stages: [commit]

  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: ['--line-length=100']
        files: '^dawsos/.*\.py$'

  # Python import sorting with isort
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black', '--line-length', '100']
        files: '^dawsos/.*\.py$'

  # Flake8 for Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--extend-ignore=E203,W503']
        files: '^dawsos/.*\.py$'

  # Pytest on changed files (fast subset)
  - repo: local
    hooks:
      - id: pytest-changed
        name: Run pytest on changed files
        entry: bash -c 'if [ -f dawsos/test_system_health.py ]; then python3 -m pytest dawsos/test_system_health.py -v --tb=short; fi'
        language: system
        types: [python]
        pass_filenames: false
        stages: [commit]

  # Check for common issues
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: end-of-file-fixer
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: check-yaml
        files: '^dawsos/.*\.yaml$'
      - id: check-json
        files: '^dawsos/.*\.json$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements

  # Security checks with Bandit
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml', '--severity-level', 'medium']
        files: '^dawsos/.*\.py$'
        exclude: '^dawsos/(tests|venv)/.*$'

  # Type checking with mypy (optional)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: '^dawsos/core/.*\.py$'
        args: ['--ignore-missing-imports', '--no-strict-optional']
        additional_dependencies: ['types-requests']

Documentation updates: Reflect P1 completions and orchestration session
  DawsOSP/.claude/agents/ORCHESTRATOR.md
  DawsOSP/.env.example
  DawsOSP/.ops/TASK_INVENTORY_2025-10-24.md
  DawsOSP/DEVELOPMENT_GUIDE.md
  DawsOSP/P1-1_MACRO_RUN_SCENARIO_IMPLEMENTATION_REPORT.md
  DawsOSP/README.md
  DawsOSP/frontend/ui/screens/portfolio_overview.py
  DawsOSP/test_integration.sh
Due: pytest-changed

P1 Complete: Ratings + Optimizer + Nightly Orchestration (3 parallel agents, 3,763 lines)
  DawsOSP/.claude/agents/business/RATINGS_ARCHITECT.md
  DawsOSP/.claude/agents/platform/REPORTING_ARCHITECT.md
  DawsOSP/.ops/OPTIMIZER_IMPLEMENTATION_SUMMARY.md
  DawsOSP/.ops/TASK_INVENTORY_2025-10-26.md
  DawsOSP/EXAMPLE_RATING_OUTPUT.json
  DawsOSP/RATINGS_SERVICE_IMPLEMENTATION_REPORT.md
  DawsOSP/backend/OPTIMIZER_IMPLEMENTATION_REPORT.md
  DawsOSP/backend/OPTIMIZER_USAGE_EXAMPLES.md
  DawsOSP/backend/RATINGS_API_REFERENCE.md
  DawsOSP/backend/app/api/executor.py
  DawsOSP/backend/app/services/optimizer.py
  DawsOSP/backend/app/services/ratings.py
  DawsOSP/backend/db/seeds/001_rating_rubrics.sql
  DawsOSP/backend/jobs/mark_pack_fresh.py
  DawsOSP/backend/jobs/prewarm_factors.py
  DawsOSP/backend/jobs/scheduler.py
  DawsOSP/backend/requirements.txt
Due: pytest-changed

P0 Complete: Agent Wiring + PDF Exports + Auth + Tests (4 parallel agents, 9,244 lines)
  DawsOSP/.coveragerc
  DawsOSP/.ops/AGENT_WIRING_COMPLETE_2025-10-27.md
  DawsOSP/AUTHENTICATION_IMPLEMENTATION_REPORT.md
  DawsOSP/AUTHENTICATION_QUICKSTART.md
  DawsOSP/REPORTING_ARCHITECT_IMPLEMENTATION_COMPLETE.md
  DawsOSP/backend/app/agents/optimizer_agent.py
  DawsOSP/backend/app/agents/ratings_agent.py
  DawsOSP/backend/app/agents/reports_agent.py
  DawsOSP/backend/app/api/executor.py
  DawsOSP/backend/app/api/routes/auth.py
  DawsOSP/backend/app/middleware/__init__.py
  DawsOSP/backend/app/middleware/auth_middleware.py
  DawsOSP/backend/app/services/audit.py
  DawsOSP/backend/app/services/auth.py
  DawsOSP/backend/app/services/reports.py
  DawsOSP/backend/db/migrations/010_add_users_and_audit_log.sql
  DawsOSP/backend/requirements.txt
  DawsOSP/backend/run_tests.sh
  DawsOSP/backend/templates/base.html
  DawsOSP/backend/templates/buffett_checklist.html
  DawsOSP/backend/templates/dawsos_pdf.css
  DawsOSP/backend/templates/portfolio_summary.html
  DawsOSP/backend/tests/demo_jwt_flow.py
  DawsOSP/backend/tests/unit/conftest.py
  DawsOSP/pytest.ini
Due: pytest-changed

Truth Audit: Verify session claims against actual state
  DawsOSP/TRUTH_AUDIT_2025-10-27.md
Due: none

Honest cleanup plan: Stop inflating claims, focus on faithful implementation
  DawsOSP/CLEANUP_AND_REMEDIATION_PLAN.md
Due: none

Agent spec review: Identify gaps that caused recent issues
  DawsOSP/.claude/AGENT_SPEC_REVIEW_AND_UPDATES.md
Due: none

Comprehensive agent spec update plan: Context-aware design for remaining roadmap
  DawsOSP/.claude/AGENT_SPEC_COMPREHENSIVE_UPDATE_PLAN.md
Due: none

Add GitHub repository setup instructions
  GITHUB_SETUP_INSTRUCTIONS.md
Due: none

Update setup instructions: Repository successfully pushed to GitHub
  GITHUB_SETUP_INSTRUCTIONS.md
Due: none

Navigation design analysis and agent architecture documentation
  .claude/agents/AGENT_DEVELOPMENT_CHECKLIST.md
  .claude/agents/CLAUDE_AGENT.md
  .claude/agents/FINANCIAL_ANALYST.md
  .claude/agents/IMPLEMENTATION_STATUS_MATRIX.md
  .claude/agents/OPTIMIZER_AGENT.md
  .claude/agents/ORCHESTRATOR.md
  .claude/agents/REPORTS_AGENT.md
  .claude/agents/archive/ALERTS_ARCHITECT.md
  .claude/agents/archive/CORPORATE_ACTIONS_ARCHITECT.md
  .claude/agents/archive/INFRASTRUCTURE_ARCHITECT.md
  .claude/agents/archive/LEDGER_ARCHITECT.md
  .claude/agents/archive/METRICS_ARCHITECT.md
  .claude/agents/archive/OBSERVABILITY_ARCHITECT.md
  .claude/agents/archive/SCHEMA_SPECIALIST.md
  .claude/agents/archive/TEST_ARCHITECT.md
  .claude/agents/archive/UI_ARCHITECT.md
  .claude/agents/business/RATINGS_ARCHITECT.md
  CLAUDE_AGENT_ANALYSIS_AND_RECOMMENDATIONS.md
  CLAUDE_AGENT_RECOMMENDATIONS_IMPLEMENTATION_COMPLETE.md
  DAWSOS_VISION_AND_POWER_ANALYSIS.md
  backend/app/services/reports.py
  backend/patterns/export_portfolio_report.json
  backend/patterns/policy_rebalance.json
Due: pattern-lint, pytest-changed

Repository cleanup: Consolidate to single canonical directory
  .ops/REPOSITORY_CLEANUP_2025-10-27.md
Due: none

UI component committ
  .ops/TASK_INVENTORY_2025-10-28_CRITICAL_UPDATE.md
  AUDIT_SUMMARY_EXECUTIVE_BRIEFING.md
  COMPREHENSIVE_SYSTEM_AUDIT_2025-10-28.md
  UI_IMPLEMENTATION_VERIFICATION_REPORT.md
  backend/app/core/database.py
  dawsos-ui/package-lock.json
  dawsos-ui/package.json
  dawsos-ui/src/app/layout.tsx
  dawsos-ui/src/app/page.tsx
  dawsos-ui/src/components/DaRVisualization.tsx
  dawsos-ui/src/components/HoldingsDetail.tsx
  dawsos-ui/src/components/MacroDashboard.tsx
  dawsos-ui/src/components/PerformanceChart.tsx
  dawsos-ui/src/components/PortfolioOverview.tsx
  dawsos-ui/src/lib/api-client.ts
  dawsos-ui/src/lib/queries.ts
  dawsos-ui/src/lib/query-provider.tsx
  dawsos-ui/src/lib/utils.ts
Due: pytest-changed

Pre-cleanup commit: Fix import issues and update documentation
  ACTUAL_SYSTEM_STATE_ASSESSMENT.md
  AGGRESSIVE_CLEANUP_PLAN.md
  AUDIT_RECONCILIATION_FINAL_TRUTH.md
  AUTHENTICATION_COMPLETE.md
  AUTHENTICATION_SETUP.md
  AUTHENTICATION_VALIDATION_REPORT.md
  CLAUDE.md
  COMPLETE_VISION_ROADMAP.md
  COMPREHENSIVE_CODEBASE_AUDIT_FINAL.md
  COMPREHENSIVE_CONTEXT_REPORT_2025-10-28.md
  DOCUMENTATION_RECONCILIATION_REPORT.md
  EVIDENCE_BASED_ROADMAP_2025-10-28.md
  EVIDENCE_BASED_SYSTEM_ANALYSIS_2025-10-28.md
  EXECUTIVE_SUMMARY_2025-10-28.md
  GIT_SETUP_EVALUATION_AND_PLAN.md
  MULTI_SOURCE_VERIFIED_ANALYSIS_2025-10-28.md
  PRODUCT_SPEC.md
  PUSH_VERIFICATION_COMPLETE.md
  README.md
  VALIDATED_EXECUTION_PLAN_2025-10-28.md
  backend/app/agents/financial_analyst.py
  backend/app/api/__init__.py
  backend/app/api/routes/__init__.py
  backend/app/core/agent_runtime.py
  backend/app/core/types.py
  backend/app/providers/__init__.py
  backend/app/providers/fmp_client.py
  backend/app/providers/fred_client.py
  backend/app/providers/polygon_client.py
  backend/app/services/macro.py
  backend/app/services/providers.py
  backend/jobs/build_pricing_pack.py
  backend/jobs/compute_macro.py
  scripts/aggressive_cleanup.sh
  scripts/setup_super_admin.py
Due: pytest-changed

Final cleanup: Remove extra documentation file
  VALIDATED_EXECUTION_PLAN_2025-10-28.md
Due: none

Complete aggressive cleanup: 158→13 MD files, 226→222 Python files
  .streamlit/config.toml
  .streamlit/credentials.toml
  backend/tests/__init__.py
  logs/DataIntegrityManager_20251003.log
  logs/DataIntegrityManager_errors_20251003.log
  logs/DawsOS_20251002.log
  logs/DawsOS_20251003.log
  logs/DawsOS_errors_20251002.log
  logs/DawsOS_errors_20251003.log
  logs/KnowledgeLoader_20251002.log
  logs/KnowledgeLoader_20251003.log
  logs/KnowledgeLoader_errors_20251002.log
  logs/KnowledgeLoader_errors_20251003.log
  logs/PatternEngine_20251002.log
  logs/PatternEngine_20251003.log
  logs/PatternEngine_errors_20251002.log
  logs/PatternEngine_errors_20251003.log
  observability/README.md
  scripts/QUICK_START.md
  scripts/README_COMPLIANCE.md
  verify_providers.py
Due: pytest-changed

second pass at cleanup
  .legacy/frontend/Dockerfile
  .legacy/frontend/main.py
  .legacy/frontend/requirements.txt
  .legacy/frontend/run_ui.sh
  .legacy/frontend/tests/visual/requirements.txt
  .legacy/frontend/ui/api_client.py
  .legacy/frontend/ui/client_factory.py
  .legacy/frontend/ui/components/dawsos_theme.py
  .legacy/frontend/ui/screens/holdings.py
  .legacy/frontend/ui/screens/macro_dashboard.py
  .legacy/frontend/ui/screens/portfolio_overview.py
  .legacy/frontend/ui/screens/scenarios.py
  .legacy/frontend/ui/screens/settings.py
  .legacy/scripts/deploy_old.sh
  .legacy/scripts/start_old.sh
  DEPLOYMENT_GUIDE.md
  FINAL_CLEANUP_SUMMARY.md
  INTEGRATION_COMPLETE.md
  dawsos-ui/Dockerfile
  dawsos-ui/next.config.js
  dawsos-ui/src/app/alerts/page.tsx
  dawsos-ui/src/app/api/health/route.ts
  dawsos-ui/src/app/holdings/page.tsx
  dawsos-ui/src/app/macro/page.tsx
  dawsos-ui/src/app/not-found.tsx
  dawsos-ui/src/app/page.tsx
  dawsos-ui/src/app/portfolio/page.tsx
  dawsos-ui/src/app/reports/page.tsx
  dawsos-ui/src/app/scenarios/page.tsx
  dawsos-ui/src/components/Alerts.tsx
  dawsos-ui/src/components/HoldingsDetail.tsx
  dawsos-ui/src/components/MacroDashboard.tsx
  dawsos-ui/src/components/Navigation.tsx
  dawsos-ui/src/components/Reports.tsx
  dawsos-ui/src/components/Scenarios.tsx
  docker-compose.yml
Due: pytest-changed

Update application configuration for development and deployment
  .gitignore
  .replit
  dawsos-ui/next.config.js
  dawsos-ui/package.json
Due: none

Add detailed project documentation for AI-powered portfolio management
  replit.md
Due: none

Improve the application's visual appearance and user interaction design
  .replit
Due: none

Enhance portfolio analysis with scenario simulations and improved UI
  .replit
  backend/simple_api.py
  dawsos-ui/next.config.js
  dawsos-ui/package-lock.json
  dawsos-ui/package.json
  dawsos-ui/public/index.html
  dawsos-ui/src/app/globals.css
  dawsos-ui/src/app/page-with-framer.tsx
  dawsos-ui/src/app/page.tsx
  dawsos-ui/src/app/scenarios/page.tsx
  dawsos-ui/src/components/ModernScenarios.tsx
  dawsos-ui/src/components/Scenarios.tsx
  dawsos-ui/src/lib/query-provider.tsx
  dawsos-ui/tailwind.config.js
  index.ts
  tsconfig.json
Due: pytest-changed

Fix error that prevents users from viewing their profile information
  .replit
Due: none

Add a secure authentication system to the backend API
  .replit
  backend/api_server.py
Due: pytest-changed

Update server to run on a single port and adjust API URL configuration
  .replit
  combined_server.py
Due: pytest-changed

Implement comprehensive portfolio management system with enhanced features
  .replit
  DAWSOS_TEST_REPORT.md
  combined_server_enhanced.py
  test_enhanced_features.sh
Due: pytest-changed

Provide a full-featured user interface for the application
  .replit
  combined_server.py
  full_ui.html
  test_ui.js
Due: pytest-changed

Integrate and display macro economic insights within the user interface
  combined_server.py
  full_ui.html
Due: pytest-changed

Add user acceptance testing report for DawsOS
  ui_acceptance_test.html
Due: none

Add transaction history view and data export options
  .replit
  combined_server.py
  full_ui.html
Due: pytest-changed

Add mock data and new alert creation features to the application
  .replit
  combined_server.py
  full_ui.html
  test_alerts.html
Due: pytest-changed

Integrate backend with seed data for comprehensive application demonstration
  .replit
  combined_server.py
Due: pytest-changed

Add a dedicated macro dashboard page and navigation link
  .replit
  full_ui.html
  replit.md
Due: none

Improve user data handling and validation for increased system reliability
  .replit
Due: none
