Repository mwd474747/DawsOSP: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, pytest-changed

.pre-commit-config.yaml:

# Pre-commit hooks for DawsOS Trinity Architecture compliance
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Trinity Architecture Compliance Checker
  - repo: local
    hooks:
      - id: trinity-compliance
        name: Trinity Architecture Compliance Check
        entry: python3 scripts/check_compliance.py
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        args: ['--strict']
        stages: [commit]

  # Pattern Linter (if exists)
  - repo: local
    hooks:
      - id: pattern-lint
        name: Pattern Configuration Linter
        entry: bash -c 'if [ -f scripts/lint_patterns.py ]; then python3 scripts/lint_patterns.py; fi'
        language: system
        files: 'patterns/.*\.json$'
        pass_filenames: false
        stages: [commit]

  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: ['--line-length=100']
        files: '^dawsos/.*\.py$'

  # Python import sorting with isort
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black', '--line-length', '100']
        files: '^dawsos/.*\.py$'

  # Flake8 for Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--extend-ignore=E203,W503']
        files: '^dawsos/.*\.py$'

  # Pytest on changed files (fast subset)
  - repo: local
    hooks:
      - id: pytest-changed
        name: Run pytest on changed files
        entry: bash -c 'if [ -f dawsos/test_system_health.py ]; then python3 -m pytest dawsos/test_system_health.py -v --tb=short; fi'
        language: system
        types: [python]
        pass_filenames: false
        stages: [commit]

  # Check for common issues
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: end-of-file-fixer
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: check-yaml
        files: '^dawsos/.*\.yaml$'
      - id: check-json
        files: '^dawsos/.*\.json$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements

  # Security checks with Bandit
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml', '--severity-level', 'medium']
        files: '^dawsos/.*\.py$'
        exclude: '^dawsos/(tests|venv)/.*$'

  # Type checking with mypy (optional)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: '^dawsos/core/.*\.py$'
        args: ['--ignore-missing-imports', '--no-strict-optional']
        additional_dependencies: ['types-requests']

Add an endpoint to retrieve a list of available patterns with metadata
  combined_server.py
Due: pytest-changed

Add styles for portfolio selection and display features
  full_ui.html
Due: none

Add script to ingest economic data from FRED into the database
  backend/scripts/populate_fred_data.py
Due: pytest-changed

Add new tax reporting and harvesting features for portfolio management
  backend/patterns/portfolio_tax_report.json
  backend/patterns/tax_harvesting_opportunities.json
Due: pattern-lint

Update tax compliance reports and harvesting tools with new structure
  backend/patterns/portfolio_tax_report.json
  backend/patterns/tax_harvesting_opportunities.json
  full_ui.html
Due: pattern-lint

Improve password verification security and add test user
  combined_server.py
Due: pytest-changed

Analyze Replit's 11 commits from November 6, 2025
  REPLIT_CHANGES_ANALYSIS_NOV6.md
Due: none

Create definitive schema knowledge document based on DATABASE.md
  DEFINITIVE_SCHEMA_KNOWLEDGE.md
Due: none

Complete system integration testing with correct schema knowledge
  CODE_ARCHITECTURE_REVIEW.md
  CRITICAL_FIXES_REVIEW.md
  SYSTEM_AGENT_DATABASE_CONTEXT.md
  SYSTEM_INTEGRATION_TEST_RESULTS.md
Due: none

Document tax patterns and UI integration analysis
  TAX_CAPABILITIES_IMPLEMENTATION_ASSESSMENT.md
  TAX_PATTERNS_ARCHITECTURE.md
  UI_INTEGRATION_ANALYSIS.md
Due: none

Business analysis of 3 unused patterns with implementation recommendations
  UNUSED_PATTERNS_BUSINESS_ANALYSIS.md
Due: none

Transitioned from Plan to Build mode
  attached_assets/Pasted--UI-AI-Pages-Refactor-Plan-Simplified-Date-January-14-2025-Status-SIMPLIFIED-P-1762477406165_1762477406166.txt
Due: none

Improve AI assistant by automatically analyzing user queries for patterns
  full_ui.html
Due: none

Update AI insights page to load and display portfolio analysis patterns
  full_ui.html
Due: none

Update tax report feature to show harvesting opportunities
  full_ui.html
Due: none

Update database documentation for Replit environment and current schema
  DATABASE.md
Due: none

Enhance database documentation with Replit-specific details
  replit.md
Due: none

Assistant checkpoint: Add provider registry and API key validation
  backend/app/integrations/provider_registry.py
  backend/combined_server.py
Due: pytest-changed

API management analysis and recommended fixes from Replit agent findings
  API_MANAGEMENT_ANALYSIS_AND_FIXES.md
Due: none

clean up
  .archive/tax-patterns-2025-01-14/portfolio_tax_report.json
  .archive/tax-patterns-2025-01-14/tax_harvesting_opportunities.json
  CRITICAL_ISSUES_AND_ANTI_PATTERNS.md
  PATTERN_OUTPUT_FORMAT_STANDARDS.md
  REFACTORING_PROGRESS.md
  UI_AI_PAGES_REFACTOR_PLAN.md
  UI_AI_PAGES_REFACTOR_PLAN_SIMPLIFIED.md
  backend/app/agents/financial_analyst.py
  full_ui.html
Due: pytest-changed

Phase 1 Complete: Dependency injection migration & API management
  .claude/PROJECT_CONTEXT.md
  NEXT_PRIORITIES_ANALYSIS.md
  OVERLAPPING_SERVICES_ANALYSIS.md
  REFACTORING_PLAN_COMPREHENSIVE.md
  REFACTORING_PROGRESS.md
  backend/app/agents/financial_analyst.py
  backend/app/agents/macro_hound.py
  backend/app/integrations/base_provider.py
  backend/app/services/alerts.py
  backend/app/services/cycles.py
  backend/app/services/macro.py
  backend/app/services/optimizer.py
  backend/app/services/pricing.py
  backend/app/services/ratings.py
  backend/app/services/reports.py
  backend/app/services/scenarios.py
Due: pytest-changed

Fix: Remove OpenTelemetry completely (legacy technical debt)
  backend/app/integrations/base_provider.py
Due: pytest-changed

database connection standardization plan
  DATABASE_CONNECTION_STANDARDIZATION_PLAN.md
  DATABASE_CONNECTION_STANDARDIZATION_STEPS.md
Due: none

Fix: Correct FMP API symbol format handling
  SYMBOL_FORMAT_STANDARDS.md
  backend/app/agents/data_harvester.py
  backend/app/core/symbol_utils.py
Due: pytest-changed

database connection standardization
  DATABASE_CONNECTION_CURRENT_STATE.md
  DATABASE_CONNECTION_STANDARDIZATION_COMPLETE.md
  DATABASE_CONNECTION_STANDARDIZATION_PLAN.md
  DATABASE_CONNECTION_STANDARDIZATION_STEPS.md
  RLS_REQUIREMENT_ANALYSIS.md
  backend/app/agents/data_harvester.py
  backend/app/agents/financial_analyst.py
  backend/app/api/routes/auth.py
  backend/app/services/audit.py
  backend/app/services/ratings.py
  backend/jobs/daily_valuation.py
Due: pytest-changed

Improve dividend filtering by normalizing symbols
  backend/app/agents/data_harvester.py
Due: pytest-changed

Improve data harvesting by correctly filtering stock splits
  backend/app/agents/data_harvester.py
Due: pytest-changed

Add portfolio-specific summary for corporate actions calculations
  backend/app/agents/data_harvester.py
Due: pytest-changed

Adjust earnings data retrieval to match portfolio symbols correctly
  backend/app/agents/data_harvester.py
Due: pytest-changed

documentation cleanup and todo fixes
  CODE_DOCUMENTATION_FIXES_COMPLETE.md
  CODE_DOCUMENTATION_REVIEW_REPORT.md
  backend/app/agents/data_harvester.py
  backend/app/agents/macro_hound.py
  backend/app/api/routes/auth.py
  backend/app/core/agent_runtime.py
  backend/app/core/pattern_orchestrator.py
  backend/app/core/types.py
  backend/app/services/audit.py
  backend/app/services/currency_attribution.py
  backend/app/services/factor_analysis.py
  backend/app/services/macro.py
  backend/app/services/metrics.py
  backend/app/services/optimizer.py
  backend/app/services/pricing.py
  backend/app/services/scenarios.py
Due: pytest-changed

Fix FMP API date range limitations for corporate actions
  .archive/documentation-consolidation-2025-01-14/replit.md
Due: none
