Repository mwd474747/DawsOSP: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, pytest-changed

pattern-lint:
  name: Pattern Configuration Linter
  entry: bash -c 'if [ -f scripts/lint_patterns.py ]; then python3 scripts/lint_patterns.py; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

pytest-changed:
  name: Run pytest on changed files
  entry: bash -c 'if [ -f dawsos/test_system_health.py ]; then python3 -m pytest dawsos/test_system_health.py -v --tb=short; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

docs: Complete comprehensive constants review and update data architect agent
  .claude/agents/data-integration-expert.md
  CONSTANTS_COMPREHENSIVE_REVIEW.md
  LEGACY_CODE_AUDIT_SUMMARY.md
  PATTERN_SYSTEM_OPTIMIZATION_PLAN.md
Due: none

refactor: Final constants polish - eliminate remaining magic numbers and enhance docs
  API_CONTRACT.md
  ARCHITECTURE.md
  CONSTANTS_FINAL_POLISH.md
  DEPLOYMENT.md
  DEVELOPMENT_GUIDE.md
  DOCUMENTATION_CLEANUP_COMPLETE.md
  DOCUMENTATION_CLEANUP_PLAN.md
  HTML_BACKEND_INTEGRATION_ANALYSIS.md
  PATTERN_OUTPUT_FORMAT_STANDARDS.md
  PATTERN_SYSTEM_OPTIMIZATION_PLAN.md
  README.md
  REFACTORING_PHASE_1_PROGRESS.md
  REFACTORING_STABILITY_REPORT.md
  ROADMAP.md
  UI_REFACTORING_STATUS.md
  backend/app/core/constants/risk.py
  backend/app/services/macro_data_helpers.py
  docs/reference/PATTERNS_REFERENCE.md
  docs/reference/replit.md
  replit.md
Due: pytest-changed

fix: CRITICAL - Fix data scaling double conversion bugs causing 100x errors
  DATA_SCALING_AUDIT_CRITICAL_BUGS.md
  DEEP_CODE_ANALYSIS_REPORT.md
  backend/app/services/cycles.py
  backend/app/services/macro_data_helpers.py
Due: pytest-changed

fix: Critical UI data scaling bugs - remove incorrect ÷100 conversions
  DATA_SCALE_TYPE_DOCUMENTATION.md
  DEEP_CODE_ANALYSIS_REPORT.md
  DEEP_CODE_CLEANUP_EXECUTION_PLAN.md
  UI_DATA_SCALING_CRITICAL_ISSUES.md
  backend/app/agents/financial_analyst.py
  backend/app/services/alert_delivery.py
  backend/app/services/alert_validation.py
  backend/app/services/alerts.py
  backend/app/services/corporate_actions_sync_enhanced.py
  backend/app/services/dlq.py
  backend/app/services/fundamentals_transformer.py
  backend/app/services/macro_data_agent.py
  backend/app/services/metrics.py
  backend/app/services/playbooks.py
  backend/app/services/portfolio_helpers.py
  backend/app/services/rights_registry.py
  backend/app/services/risk.py
  backend/app/services/risk_metrics.py
  backend/app/services/trade_execution.py
  backend/patterns/holding_deep_dive.json
  frontend/pages.js
Due: pattern-lint, pytest-changed

Revert "fix: CRITICAL - Fix data scaling double conversion bugs causing 100x errors"
  DATA_SCALE_TYPE_DOCUMENTATION.md
  DATA_SCALING_AUDIT_CRITICAL_BUGS.md
  DEEP_CODE_ANALYSIS_REPORT.md
  DEEP_CODE_CLEANUP_EXECUTION_PLAN.md
  UI_DATA_SCALING_CRITICAL_ISSUES.md
  backend/app/agents/financial_analyst.py
  backend/app/services/alert_delivery.py
  backend/app/services/alert_validation.py
  backend/app/services/alerts.py
  backend/app/services/corporate_actions_sync_enhanced.py
  backend/app/services/cycles.py
  backend/app/services/dlq.py
  backend/app/services/fundamentals_transformer.py
  backend/app/services/macro_data_agent.py
  backend/app/services/macro_data_helpers.py
  backend/app/services/metrics.py
  backend/app/services/playbooks.py
  backend/app/services/portfolio_helpers.py
  backend/app/services/rights_registry.py
  backend/app/services/risk.py
  backend/app/services/risk_metrics.py
  backend/app/services/trade_execution.py
  backend/patterns/holding_deep_dive.json
  frontend/pages.js
Due: pattern-lint, pytest-changed

Cleanup: Remove 3 unused service files (~1,099 lines)
  CLEANUP_EXECUTION_SUMMARY.md
  DASHBOARD_HOLDINGS_ANALYSIS.md
  FIELD_NAME_FIX_SUMMARY.md
  PATTERN_SYSTEM_OPTIMIZATION_PLAN.md
  SCALING_ISSUE_ACTUAL_ROOT_CAUSE.md
  backend/app/services/alert_validation.py
  backend/app/services/corporate_actions_sync_enhanced.py
  backend/app/services/macro_data_agent.py
  backend/db/migrations/RUN_NEW_MIGRATIONS.md
  docs/refactoring/ARCHITECTURE_SUMMARY.md
  docs/refactoring/PHASE_SUMMARIES.md
  docs/refactoring/V3_PLAN_FINAL_STATUS.md
Due: pytest-changed

Update database documentation to define field scaling and format conventions
  DATABASE.md
  replit.md
Due: none

fix: Apply DATABASE.md scaling fixes - remove incorrect ÷100 conversions
  backend/app/agents/financial_analyst.py
  frontend/pages.js
Due: pytest-changed

Add pattern architecture refactor plan
  PATTERN_ARCHITECTURE_REFACTOR_PLAN.md
Due: none

docs: Add scaling fixes final status documentation
  SCALING_FIXES_FINAL_STATUS.md
Due: none

Add user testing and feature alignment plan
  USER_TESTING_AND_FEATURE_ALIGNMENT_PLAN.md
Due: none

Update user testing plan with console log issues
  USER_TESTING_AND_FEATURE_ALIGNMENT_PLAN.md
Due: none

Fix duplicate section in user testing plan
  USER_TESTING_AND_FEATURE_ALIGNMENT_PLAN.md
Due: none

Add comprehensive console log issues analysis
  CONSOLE_LOG_ISSUES_ANALYSIS.md
Due: none

Add FOUC and formatDate issues to console log analysis
  CONSOLE_LOG_ISSUES_ANALYSIS.md
  USER_TESTING_AND_FEATURE_ALIGNMENT_PLAN.md
Due: none

Fix duplicate issue 12 in user testing plan
  USER_TESTING_AND_FEATURE_ALIGNMENT_PLAN.md
Due: none

Fix duplicate issue 13 in user testing plan
  USER_TESTING_AND_FEATURE_ALIGNMENT_PLAN.md
Due: none

Add macro_trend_monitor pattern failure to issues analysis
  CONSOLE_LOG_ISSUES_ANALYSIS.md
  USER_TESTING_AND_FEATURE_ALIGNMENT_PLAN.md
Due: none

Add macro_trend_monitor issue to P0 section in analysis
  CONSOLE_LOG_ISSUES_ANALYSIS.md
Due: none

Create unified refactor plan synthesizing all findings
  UNIFIED_REFACTOR_PLAN.md
Due: none

docs: Add independent agent review assessment - 65/100 accuracy
  INDEPENDENT_AGENT_REVIEW_ASSESSMENT.md
Due: none

docs: Reconciliation analysis - Both reviews partially correct (hybrid architecture)
  ARCHITECTURAL_DUAL_STRUCTURE_ANALYSIS.md
  INDEPENDENT_AGENT_REVIEW_ASSESSMENT.md
Due: none

docs: Refactoring history forensics - complete timeline and anti-pattern analysis
  REFACTORING_HISTORY_FORENSICS.md
Due: none

docs: Unified Refactor Plan V2 - Critical architecture reconciliation required
  UNIFIED_REFACTOR_PLAN_V2.md
Due: none

docs: Phase -1 execution (frontend complete, awaiting Replit for backend/database)
  ARCHITECTURE_CORRECTIONS_NOV8_2025.md
  REPLIT_PHASE_MINUS_1_PROMPTS.md
  frontend/MODULE_LOAD_ORDER.md
Due: none

fix: Phase -1.2 Database Reconciliation - Critical Production Fixes
  PRODUCTION_ISSUES_ACTION_PLAN.md
  REFACTOR_KNOWLEDGE_BASE.md
  UNIFIED_REFACTOR_PLAN.md
  backend/app/agents/financial_analyst.py
  backend/app/services/metrics.py
  backend/db/migrations_ORPHANED_OCT23_NOV8/005_create_rls_policies.sql
  backend/db/migrations_ORPHANED_OCT23_NOV8/007_add_lot_qty_tracking.sql
  backend/db/migrations_ORPHANED_OCT23_NOV8/008_add_corporate_actions_support.sql
  backend/db/migrations_ORPHANED_OCT23_NOV8/009_add_scenario_dar_tables.sql
  backend/db/migrations_ORPHANED_OCT23_NOV8/009_jwt_auth.sql
  backend/db/migrations_ORPHANED_OCT23_NOV8/010_add_users_and_audit_log.sql
  backend/db/migrations_ORPHANED_OCT23_NOV8/010_fix_audit_log_schema.sql
  backend/db/migrations_ORPHANED_OCT23_NOV8/011_alert_delivery_system.sql
  backend/db/migrations_ORPHANED_OCT23_NOV8/012_add_alert_channels.sql
  backend/db/migrations_ORPHANED_OCT23_NOV8/013_add_derived_indicators.sql
  backend/db/migrations_ORPHANED_OCT23_NOV8/014_add_quantity_deprecation_comment.sql
  backend/db/migrations_ORPHANED_OCT23_NOV8/015_add_economic_indicators.sql
  backend/db/migrations_ORPHANED_OCT23_NOV8/016_standardize_asof_date_field.sql
  backend/db/migrations_ORPHANED_OCT23_NOV8/017_add_realized_pl_field.sql
  backend/db/migrations_ORPHANED_OCT23_NOV8/018_add_cost_basis_method_field.sql
  backend/db/migrations_ORPHANED_OCT23_NOV8/019_add_migration_tracking_table.sql
  backend/db/migrations_ORPHANED_OCT23_NOV8/020_add_security_ratings_table.sql
  backend/db/migrations_ORPHANED_OCT23_NOV8/021_add_news_sentiment_table.sql
  backend/db/migrations_ORPHANED_OCT23_NOV8/022_update_rls_policies_comments.sql
  backend/db/migrations_ORPHANED_OCT23_NOV8/README.md
  backend/db/migrations_ORPHANED_OCT23_NOV8/RUN_CRITICAL_MIGRATIONS.md
  backend/db/migrations_ORPHANED_OCT23_NOV8/RUN_NEW_MIGRATIONS.md
  backend/patterns/holding_deep_dive.json
  combined_server.py
  migrations/010_restore_audit_log.sql
Due: pattern-lint, pytest-changed

docs: Update ARCHITECTURE.md - Phase -1.5 Documentation Updates
  ARCHITECTURE.md
Due: none

docs: Phase -1 Completion Summary - Architecture Reconciliation Complete
  PHASE_MINUS_1_COMPLETION_SUMMARY.md
Due: none

Transitioned from Plan to Build mode
  attached_assets/Pasted-DawsOS-Phase-1-Completion-Next-Steps-What-Just-Happened-Phase-1-Architecture-Reconciliation-1762629790891_1762629790891.txt
Due: none

Update documentation with database migration and error resolution steps
  attached_assets/Pasted-Phase-1-Database-Completion-Action-Items-Thank-you-for-the-audit-results-Based-on-your-findings--1762630085411_1762630085412.txt
  combined_server.py
Due: pytest-changed

Ensure transaction data is always represented as a float value
  backend/app/agents/financial_analyst.py
Due: pytest-changed

Update project documentation and remove unused authentication code
  backend/app/services/auth.py.backup
  replit.md
Due: none

Add script to test all 15 patterns for DawsOS
  test_patterns.sh
Due: none

Add script to remove stale gitsafe-backup remote and clear locks
  scripts/remove_gitsafe_backup.sh
Due: none

Add guide for setting up GitHub authentication for projects
  setup_github_auth.md
Due: none

Automate the removal of old and unused branches from the repository
  scripts/cleanup_branches.sh
Due: none

docs: Phase -1 Validation & Phase 0 Preparation
  PHASE_MINUS_1_VALIDATION_AND_PHASE_0_PREP.md
  REFACTOR_EXECUTION_STATUS.md
  REFACTOR_VALIDATION_AGENT.md
  REFACTOR_VALIDATION_SUMMARY.md
  UNIFIED_REFACTOR_PLAN.md
  scripts/validate_refactor.sh
Due: none

docs: Domain Model Analysis - Transaction & Cash Flow Architecture
  DOMAIN_MODEL_ANALYSIS.md
  REFACTOR_ASSESSMENT_SUMMARY.md
  REFACTOR_CURRENT_STATE_ASSESSMENT.md
  scripts/validate_refactor.sh
Due: none

Path conditions:
  pattern-lint: any of: patterns/.*\.json$
  pytest-changed: any of: \.py$
