Repository mwd474747/DawsOSP: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, pytest-changed

.pre-commit-config.yaml:

# Pre-commit hooks for DawsOS Trinity Architecture compliance
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Trinity Architecture Compliance Checker
  - repo: local
    hooks:
      - id: trinity-compliance
        name: Trinity Architecture Compliance Check
        entry: python3 scripts/check_compliance.py
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        args: ['--strict']
        stages: [commit]

  # Pattern Linter (if exists)
  - repo: local
    hooks:
      - id: pattern-lint
        name: Pattern Configuration Linter
        entry: bash -c 'if [ -f scripts/lint_patterns.py ]; then python3 scripts/lint_patterns.py; fi'
        language: system
        files: 'patterns/.*\.json$'
        pass_filenames: false
        stages: [commit]

  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: ['--line-length=100']
        files: '^dawsos/.*\.py$'

  # Python import sorting with isort
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black', '--line-length', '100']
        files: '^dawsos/.*\.py$'

  # Flake8 for Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--extend-ignore=E203,W503']
        files: '^dawsos/.*\.py$'

  # Pytest on changed files (fast subset)
  - repo: local
    hooks:
      - id: pytest-changed
        name: Run pytest on changed files
        entry: bash -c 'if [ -f dawsos/test_system_health.py ]; then python3 -m pytest dawsos/test_system_health.py -v --tb=short; fi'
        language: system
        types: [python]
        pass_filenames: false
        stages: [commit]

  # Check for common issues
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: end-of-file-fixer
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: check-yaml
        files: '^dawsos/.*\.yaml$'
      - id: check-json
        files: '^dawsos/.*\.json$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements

  # Security checks with Bandit
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml', '--severity-level', 'medium']
        files: '^dawsos/.*\.py$'
        exclude: '^dawsos/(tests|venv)/.*$'

  # Type checking with mypy (optional)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: '^dawsos/core/.*\.py$'
        args: ['--ignore-missing-imports', '--no-strict-optional']
        additional_dependencies: ['types-requests']

docs: Add comprehensive documentation accuracy assessment
  DOCUMENTATION_ACCURACY_ASSESSMENT.md
Due: none

docs: Add comprehensive documentation fix plan
  DOCUMENTATION_FIX_PLAN.md
Due: none

docs: Fix all critical documentation inaccuracies
  CLAUDE.md
  README.md
Due: none

feat: Add comprehensive options trading analysis system
  OPTIONS_IMPLEMENTATION_COMPLETE.md
  OPTIONS_IMPLEMENTATION_PLAN.md
  OPTIONS_IMPLEMENTATION_REVISED.md
  OPTIONS_IMPLEMENTATION_STATUS.md
  dawsos/agents/analyzers/options_analyzer.py
  dawsos/agents/data_harvester.py
  dawsos/agents/financial_analyst.py
  dawsos/capabilities/fred_data.py
  dawsos/capabilities/polygon_options.py
  dawsos/core/agent_capabilities.py
  dawsos/main.py
  dawsos/patterns/analysis/greeks_analysis.json
  dawsos/patterns/analysis/options_flow.json
  dawsos/patterns/analysis/unusual_options_activity.json
  requirements.txt
Due: pattern-lint, pytest-changed

refactor: Remove duplicate dawsos/dawsos/ directory structure
  dawsos/dawsos/docs/archive/ALERT_SYSTEM_README.md
  dawsos/dawsos/docs/archive/ALERT_SYSTEM_SUMMARY.md
  dawsos/dawsos/patterns/analysis/buffett_checklist.json
  dawsos/dawsos/patterns/analysis/dalio_cycle.json
  dawsos/dawsos/patterns/analysis/dcf_valuation.json
  dawsos/dawsos/patterns/analysis/earnings_analysis.json
  dawsos/dawsos/patterns/analysis/fundamental_analysis.json
  dawsos/dawsos/patterns/analysis/greeks_analysis.json
  dawsos/dawsos/patterns/analysis/moat_analyzer.json
  dawsos/dawsos/patterns/analysis/options_flow.json
  dawsos/dawsos/patterns/analysis/owner_earnings.json
  dawsos/dawsos/patterns/analysis/portfolio_analysis.json
  dawsos/dawsos/patterns/analysis/risk_assessment.json
  dawsos/dawsos/patterns/analysis/sentiment_analysis.json
  dawsos/dawsos/patterns/analysis/technical_analysis.json
  dawsos/dawsos/patterns/analysis/unusual_options_activity.json
  dawsos/dawsos/tests/manual/test_alert_system.py
  dawsos/dawsos/tests/manual/test_compliance.py
  dawsos/dawsos/tests/manual/test_system_health.py
Due: pattern-lint, pytest-changed

fix: Adjust pattern priorities to fix options flow trigger conflicts
  dawsos/patterns/analysis/fundamental_analysis.json
  dawsos/patterns/analysis/greeks_analysis.json
  dawsos/patterns/analysis/options_flow.json
  dawsos/patterns/analysis/unusual_options_activity.json
Due: pattern-lint

fix: Add save_as support and context substitution in pattern templates
  dawsos/core/pattern_engine.py
Due: pytest-changed

fix: Add entity extraction to populate pattern template variables
  dawsos/core/__pycache__/pattern_engine.cpython-313.pyc
  dawsos/core/pattern_engine.py
  dawsos/ui/trinity_dashboard_tabs.py
  storage/alerts/alerts.json
Due: pytest-changed

fix: Add recursive parameter resolution for nested dicts/lists
  dawsos/core/__pycache__/pattern_engine.cpython-313.pyc
  dawsos/core/pattern_engine.py
  dawsos/ui/__pycache__/trinity_dashboard_tabs.cpython-313.pyc
  storage/alerts/alerts.json
Due: pytest-changed

fix: Add POLYGON_API_KEY to CredentialManager SUPPORTED_KEYS
  dawsos/core/__pycache__/pattern_engine.cpython-313.pyc
  dawsos/core/credentials.py
  storage/alerts/alerts.json
  test_options_flow_complete.py
Due: pytest-changed

fix: Add capability routing support to execute_through_registry action
  dawsos/core/actions/execute_through_registry.py
Due: pytest-changed

feat: Complete Trinity 2.0 capability routing infrastructure
  dawsos/core/agent_adapter.py
  dawsos/core/agent_runtime.py
Due: pytest-changed

feat: Add capability routing wrapper methods to agents
  .claude/agent_capability_extractor.md
  .claude/infrastructure_builder.md
  .claude/integration_validator.md
  .claude/parallel_refactor_coordinator.md
  .claude/pattern_migration_specialist.md
  CAPABILITY_ROUTING_BLOCKER_ANALYSIS.md
  FUNCTIONALITY_REFACTORING_PLAN.md
  PARALLEL_REFACTORING_GUIDE.md
  PATTERN_ARCHITECTURE_AUDIT.md
  PATTERN_MIGRATION_ASSESSMENT.md
  REFACTORING_STATUS_REPORT.md
  TRINITY_3.0_ROADMAP.md
  dawsos/agents/data_harvester.py
  dawsos/agents/financial_analyst.py
Due: pytest-changed

docs: Add Trinity 2.0 execution complete summary
  TRINITY_2.0_EXECUTION_COMPLETE.md
Due: none

docs: Add Trinity 2.0→3.0 completion roadmap
  TRINITY_COMPLETION_ROADMAP.md
Due: none

docs: Trinity 2.0 Final Status - Production Ready
  TRINITY_2.0_FINAL_STATUS.md
Due: none

docs: Trinity 2.0 hardening audit - 47 issues identified
  TRINITY_2.0_HARDENING_AUDIT.md
Due: none

feat: Phase 1 Trinity 2.0 hardening - security improvements
  .gitignore
  TRINITY_2.0_HARDENING_AUDIT.md
  dawsos/core/input_validation.py
Due: pytest-changed

feat: Trinity 2.0 Phase 1 hardening complete - production security
  .gitignore
  scripts/manage_streamlit.sh
Due: none

feat: Phase 1 pattern remediation - Convert 60 legacy routing calls to capability-based
  dawsos/patterns/actions/add_to_graph.json
  dawsos/patterns/actions/add_to_portfolio.json
  dawsos/patterns/actions/create_alert.json
  dawsos/patterns/actions/export_data.json
  dawsos/patterns/actions/generate_forecast.json
  dawsos/patterns/analysis/buffett_checklist.json
  dawsos/patterns/analysis/dalio_cycle.json
  dawsos/patterns/analysis/earnings_analysis.json
  dawsos/patterns/analysis/fundamental_analysis.json
  dawsos/patterns/analysis/owner_earnings.json
  dawsos/patterns/analysis/portfolio_analysis.json
  dawsos/patterns/analysis/risk_assessment.json
  dawsos/patterns/analysis/technical_analysis.json
  dawsos/patterns/comprehensive_analysis.json
  dawsos/patterns/governance/audit_everything.json
  dawsos/patterns/governance/compliance_audit.json
  dawsos/patterns/governance/cost_optimization.json
  dawsos/patterns/governance/data_quality_check.json
  dawsos/patterns/governance/governance_template.json
  dawsos/patterns/governance/policy_validation.json
  dawsos/patterns/queries/company_analysis.json
  dawsos/patterns/queries/macro_analysis.json
  dawsos/patterns/queries/market_regime.json
  dawsos/patterns/queries/sector_performance.json
  dawsos/patterns/sector_rotation.json
  dawsos/patterns/system/self_improve.json
  dawsos/patterns/ui/alert_manager.json
  dawsos/patterns/ui/confidence_display.json
  dawsos/patterns/ui/dashboard_generator.json
  dawsos/patterns/ui/dashboard_update.json
  dawsos/patterns/ui/watchlist_update.json
  dawsos/patterns/workflows/deep_dive.json
  dawsos/patterns/workflows/morning_briefing.json
  dawsos/patterns/workflows/opportunity_scan.json
  dawsos/patterns/workflows/portfolio_review.json
Due: pattern-lint

feat: Pattern remediation Phases 2-4 complete - metadata, templates, organization
  dawsos/patterns/actions/add_to_graph.json
  dawsos/patterns/actions/add_to_portfolio.json
  dawsos/patterns/actions/create_alert.json
  dawsos/patterns/actions/export_data.json
  dawsos/patterns/actions/generate_forecast.json
  dawsos/patterns/analysis/dcf_valuation.json
  dawsos/patterns/analysis/earnings_analysis.json
  dawsos/patterns/analysis/greeks_analysis.json
  dawsos/patterns/analysis/options_flow.json
  dawsos/patterns/analysis/portfolio_analysis.json
  dawsos/patterns/analysis/risk_assessment.json
  dawsos/patterns/analysis/sentiment_analysis.json
  dawsos/patterns/analysis/technical_analysis.json
  dawsos/patterns/analysis/unusual_options_activity.json
  dawsos/patterns/comprehensive_analysis.json
  dawsos/patterns/queries/company_analysis.json
  dawsos/patterns/queries/correlation_finder.json
  dawsos/patterns/queries/macro_analysis.json
  dawsos/patterns/queries/market_regime.json
  dawsos/patterns/queries/sector_performance.json
  dawsos/patterns/queries/stock_price.json
  dawsos/patterns/sector_rotation.json
  dawsos/patterns/ui/dashboard_update.json
  dawsos/patterns/ui/help_guide.json
  dawsos/patterns/ui/watchlist_update.json
  dawsos/patterns/workflows/deep_dive.json
  dawsos/patterns/workflows/morning_briefing.json
  dawsos/patterns/workflows/opportunity_scan.json
  dawsos/patterns/workflows/portfolio_review.json
Due: pattern-lint

docs: Pattern remediation completion report and plan
  PATTERN_REMEDIATION_COMPLETE.md
  PATTERN_REMEDIATION_PLAN.md
Due: none

refactor: Phase 1 cleanup - Move utility scripts to scripts/ directory
  REFACTORING_OPPORTUNITIES.md
  scripts/data_integrity_cli.py
  scripts/fix_orphan_nodes.py
  scripts/manage_knowledge.py
  scripts/seed_knowledge.py
  scripts/seed_knowledge_graph.py
  scripts/verify_apis.py
Due: pytest-changed

refactor: Phase 2.1 - Decompose governance_tab.py monster function (1,011 → 45 lines)
  dawsos/ui/governance_tab.py
Due: pytest-changed

refactor: Phase 2.2 - Decompose main() function (363 → 17 lines)
  dawsos/main.py
Due: pytest-changed

refactor: Phase 2.3 - Decompose render_api_health_tab() (364 → 23 lines)
  dawsos/ui/api_health_tab.py
Due: pytest-changed

docs: Phase 2 refactoring complete - Function decomposition summary
  REFACTORING_PHASE2_COMPLETE.md
Due: none

docs: Comprehensive parallel agent execution plan for final completion
  COMPLETION_PLAN_PARALLEL.md
Due: none

feat: Agent 1 - Refactor 5 additional long functions (627→171 lines)
  dawsos/main.py
  dawsos/ui/alert_panel.py
  dawsos/ui/trinity_dashboard_tabs.py
Due: pytest-changed

feat: Agent 2 - Add 28 pattern templates (100% template coverage)
  TEMPLATE_GENERATION_REPORT.md
  dawsos/patterns/actions/add_to_graph.json
  dawsos/patterns/actions/add_to_portfolio.json
  dawsos/patterns/actions/create_alert.json
  dawsos/patterns/actions/export_data.json
  dawsos/patterns/actions/generate_forecast.json
  dawsos/patterns/analysis/dalio_cycle.json
  dawsos/patterns/analysis/greeks_analysis.json
  dawsos/patterns/analysis/options_flow.json
  dawsos/patterns/analysis/unusual_options_activity.json
  dawsos/patterns/comprehensive_analysis.json
  dawsos/patterns/queries/company_analysis.json
  dawsos/patterns/queries/correlation_finder.json
  dawsos/patterns/queries/macro_analysis.json
  dawsos/patterns/queries/market_regime.json
  dawsos/patterns/queries/sector_performance.json
  dawsos/patterns/queries/stock_price.json
  dawsos/patterns/sector_rotation.json
  dawsos/patterns/system/meta/architecture_validator.json
  dawsos/patterns/system/meta/execution_router.json
  dawsos/patterns/system/meta/legacy_migrator.json
  dawsos/patterns/system/meta/meta_executor.json
  dawsos/patterns/system/self_improve.json
  dawsos/patterns/ui/alert_manager.json
  dawsos/patterns/ui/confidence_display.json
  dawsos/patterns/ui/dashboard_generator.json
  dawsos/patterns/ui/dashboard_update.json
  dawsos/patterns/ui/help_guide.json
  dawsos/patterns/ui/watchlist_update.json
Due: pattern-lint

feat: Agents 3-6 complete - Dead code removal, UI utils, tests, documentation
  .claude/DawsOS_What_is_it.MD
  .claude/pattern_specialist.md
  .claude/trinity_architect.md
  CLAUDE.md
  COMPLETION_FINAL.md
  DEAD_CODE_CLEANUP_SUMMARY.txt
  DEAD_CODE_VALIDATION_REPORT.md
  DEPLOYMENT_CHECKLIST.md
  INTEGRATION_TEST_SUMMARY.md
  README.md
  SYSTEM_STATUS.md
  UI_STRUCTURE_IMPROVEMENT_REPORT.md
  dawsos/tests/refactoring/README.md
  dawsos/tests/refactoring/__init__.py
  dawsos/tests/refactoring/conftest.py
  dawsos/ui/README.md
  dawsos/ui/__pycache__/alert_panel.cpython-313.pyc
  dawsos/ui/__pycache__/governance_tab.cpython-313.pyc
  dawsos/ui/__pycache__/trinity_dashboard_tabs.cpython-313.pyc
  dawsos/ui/utils/__init__.py
  dawsos/ui/utils/common.py
Due: pytest-changed

fix: API Health tab showing empty keys as configured
  dawsos/ui/api_health_tab.py
  storage/alerts/alerts.json
Due: pytest-changed

refactor: Trinity 3.0 Day 1 - Remove legacy display_* functions and simplify tab initialization
  dawsos/main.py
Due: pytest-changed

feat: Trinity 3.0 Day 2 - Implement Daily Events Calendar with 51 economic events
  dawsos/core/knowledge_loader.py
  dawsos/storage/knowledge/economic_calendar.json
  dawsos/ui/economic_dashboard.py
Due: pytest-changed

docs: Trinity 3.0 - Comprehensive completion report and CLAUDE.md updates
  CLAUDE.md
  TRINITY_3.0_COMPLETION_REPORT.md
Due: none
