Repository mwd474747/DawsOSP: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, pytest-changed

.pre-commit-config.yaml:

# Pre-commit hooks for DawsOS Trinity Architecture compliance
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Trinity Architecture Compliance Checker
  - repo: local
    hooks:
      - id: trinity-compliance
        name: Trinity Architecture Compliance Check
        entry: python3 scripts/check_compliance.py
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        args: ['--strict']
        stages: [commit]

  # Pattern Linter (if exists)
  - repo: local
    hooks:
      - id: pattern-lint
        name: Pattern Configuration Linter
        entry: bash -c 'if [ -f scripts/lint_patterns.py ]; then python3 scripts/lint_patterns.py; fi'
        language: system
        files: 'patterns/.*\.json$'
        pass_filenames: false
        stages: [commit]

  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: ['--line-length=100']
        files: '^dawsos/.*\.py$'

  # Python import sorting with isort
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black', '--line-length', '100']
        files: '^dawsos/.*\.py$'

  # Flake8 for Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--extend-ignore=E203,W503']
        files: '^dawsos/.*\.py$'

  # Pytest on changed files (fast subset)
  - repo: local
    hooks:
      - id: pytest-changed
        name: Run pytest on changed files
        entry: bash -c 'if [ -f dawsos/test_system_health.py ]; then python3 -m pytest dawsos/test_system_health.py -v --tb=short; fi'
        language: system
        types: [python]
        pass_filenames: false
        stages: [commit]

  # Check for common issues
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: end-of-file-fixer
        files: '^dawsos/.*\.(py|json|yaml|md)$'
      - id: check-yaml
        files: '^dawsos/.*\.yaml$'
      - id: check-json
        files: '^dawsos/.*\.json$'
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements

  # Security checks with Bandit
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-c', 'pyproject.toml', '--severity-level', 'medium']
        files: '^dawsos/.*\.py$'
        exclude: '^dawsos/(tests|venv)/.*$'

  # Type checking with mypy (optional)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: '^dawsos/core/.*\.py$'
        args: ['--ignore-missing-imports', '--no-strict-optional']
        additional_dependencies: ['types-requests']

refactor: Replace remaining console.log with Logger in pages.js
  frontend/pages.js
Due: none

refactor: Fix fallbacks and mocks that mask issues
  backend/app/core/alert_validators.py
  backend/app/services/alerts.py
  backend/app/services/dlq.py
  backend/app/services/notifications.py
  backend/app/services/optimizer.py
  docs/refactoring/FALLBACK_MOCK_CLEANUP_PLAN.md
Due: pytest-changed

docs: Add fallback and mock cleanup summary
  docs/refactoring/FALLBACK_MOCK_CLEANUP_SUMMARY.md
Due: none

refactor: Migrate agents to use DI container services
  backend/app/agents/financial_analyst.py
  backend/app/agents/macro_hound.py
  docs/refactoring/CODEBASE_CLEANUP_ANALYSIS.md
Due: pytest-changed

refactor: Fix inline CyclesService instantiation in FinancialAnalyst
  backend/app/agents/financial_analyst.py
Due: pytest-changed

refactor: Fix indentation error in FinancialAnalyst cycles service usage
  backend/app/agents/financial_analyst.py
  backend/app/core/service_initializer.py
Due: pytest-changed

docs: Consolidate remaining refactor work into single source of truth
  REMAINING_REFACTOR_WORK.md
  REMAINING_REFACTOR_WORK_SUMMARY.md
  docs/refactoring/REMAINING_REFACTOR_PLAN.md
  docs/refactoring/V3_PLAN_FINAL_STATUS.md
Due: none

docs: Add backwards compatibility analysis and update remaining refactor plan
  REMAINING_REFACTOR_WORK.md
  docs/refactoring/BACKWARDS_COMPATIBILITY_ANALYSIS.md
Due: none

refactor: Fix pattern capability naming - migrate to category-based naming
  backend/app/agents/data_harvester.py
  backend/app/agents/financial_analyst.py
  backend/app/agents/macro_hound.py
  backend/patterns/buffett_checklist.json
  backend/patterns/cycle_deleveraging_scenarios.json
  backend/patterns/export_portfolio_report.json
  backend/patterns/macro_trend_monitor.json
  backend/patterns/news_impact_analysis.json
  backend/patterns/policy_rebalance.json
  backend/patterns/portfolio_macro_overview.json
  backend/patterns/portfolio_scenario_analysis.json
Due: pattern-lint, pytest-changed

refactor: Remove dual registration support from AgentRuntime
  CONSTANTS_REFACTOR_PHASE4_COMPLETE.md
  backend/CONSTANTS_AUDIT_REPORT.md
  backend/UNUSED_CONSTANTS_QUICK_REF.txt
  backend/app/core/agent_runtime.py
  backend/app/core/constants/__init__.py
  backend/app/core/constants/financial.py
  backend/app/core/constants/http_status.py
  backend/app/core/constants/integration.py
  backend/app/core/constants/network.py
  backend/app/core/constants/risk.py
  backend/app/core/constants/time_periods.py
  backend/app/core/constants/validation.py
Due: pytest-changed

Constants cleanup Phase 4 - Remove 127 unused constants (62% waste eliminated)
  backend/CONSTANTS_HEALTH_DASHBOARD.md
Due: none

refactor: Migrate patterns to Format 1 and simplify orchestrator
  backend/app/core/pattern_orchestrator.py
  backend/patterns/export_portfolio_report.json
  backend/patterns/macro_cycles_overview.json
  backend/patterns/policy_rebalance.json
  backend/tests/conftest.py
Due: pattern-lint, pytest-changed

refactor: Remove all singleton factory functions
  backend/app/agents/claude_agent.py
  backend/app/agents/data_harvester.py
  backend/app/services/benchmarks.py
  backend/app/services/currency_attribution.py
  backend/app/services/cycles.py
  backend/app/services/factor_analysis.py
  backend/app/services/macro.py
  backend/app/services/metrics.py
  backend/app/services/optimizer.py
  backend/app/services/risk.py
  backend/app/services/risk_metrics.py
  backend/app/services/scenarios.py
Due: pytest-changed

refactor: Complete P2 backwards compatibility removal
  backend/app/services/alerts.py
Due: pytest-changed

refactor: Complete frontend logging and improve exception handlers
  backend/app/core/pattern_orchestrator.py
  frontend/pages.js
  frontend/pattern-system.js
Due: pytest-changed

docs: Update remaining refactor work status
  REMAINING_REFACTOR_WORK.md
Due: none

Constants cleanup Phase 4.1 - Fix 3 critical issues from review
  CONSTANTS_REFACTOR_PHASE4.1_COMPLETE.md
  backend/app/core/constants/__init__.py
  backend/app/core/constants/financial.py
  backend/app/core/constants/validation.py
Due: pytest-changed

fix: Address root cause of React Error #130 - Module loading race condition
  REMAINING_REFACTOR_WORK.md
  frontend/pattern-system.js
Due: none

fix: Complete PanelRenderer dynamic lookup implementation
  frontend/pattern-system.js
Due: none

docs: Complete review of backwards compatibility code
  REMAINING_REFACTOR_WORK.md
Due: none

docs: Complete backwards compatibility code review
  backend/app/schemas/pattern_responses.py
Due: pytest-changed

docs: Update magic number extraction status - infrastructure complete
  REMAINING_REFACTOR_WORK.md
Due: none

refactor: Address P2 TODOs - improve documentation and clarity
  backend/app/core/service_initializer.py
  backend/app/services/corporate_actions_sync.py
  backend/app/services/metrics.py
Due: pytest-changed

refactor: Complete remaining P2 TODOs - base_agent and currency_attribution
  REMAINING_REFACTOR_WORK.md
  backend/app/agents/base_agent.py
Due: pytest-changed

refactor: Complete technical debt cleanup - address all remaining TODOs
  TECHNICAL_DEBT_CLEANUP_PLAN.md
  backend/app/agents/data_harvester.py
  backend/app/agents/macro_hound.py
  backend/app/db/continuous_aggregate_manager.py
  backend/app/services/currency_attribution.py
  backend/app/services/optimizer.py
  backend/app/services/risk.py
Due: pytest-changed

docs: Mark TODO cleanup as complete - all 11 TODOs addressed
  REMAINING_REFACTOR_WORK.md
Due: none

docs: Update overall progress - 80% → 85% (TODO cleanup complete)
  REMAINING_REFACTOR_WORK.md
Due: none

fix: Implement job enabled check - query enabled field from TimescaleDB jobs table
  backend/app/db/continuous_aggregate_manager.py
Due: pytest-changed

fix: Resolve React Error #130 by removing destructuring of global components
  frontend/pattern-system.js
Due: none

chore: Update technical debt documentation and backend services
  DATA_SCALE_TYPE_DOCUMENTATION.md
  REACT_ERROR_130_ROOT_CAUSE_ANALYSIS.md
  TECHNICAL_DEBT_CLEANUP_PLAN.md
  TECHNICAL_DEBT_CYCLES_SCALING.md
  backend/app/integrations/fmp_provider.py
  backend/app/services/currency_attribution.py
  backend/app/services/factor_analysis.py
  backend/app/services/metrics.py
Due: pytest-changed

docs: Update REMAINING_REFACTOR_WORK.md - P3 tasks complete, progress at 85%
  REMAINING_REFACTOR_WORK.md
Due: none

refactor: Migrate deprecated singleton function usages to direct instantiation
  REMAINING_REFACTOR_WORK.md
  backend/app/agents/base_agent.py
  backend/app/services/risk.py
  backend/jobs/metrics.py
  backend/tests/demo_jwt_flow.py
Due: pytest-changed

refactor: Fix remaining singleton function imports in tests
  backend/tests/conftest.py
  backend/tests/demo_jwt_flow.py
Due: pytest-changed

docs: Update progress to 87% - singleton function migration in progress
  REMAINING_REFACTOR_WORK.md
Due: none

refactor: Remove deprecated singleton function definitions
  backend/app/services/auth.py
  backend/app/services/benchmarks.py
  backend/app/services/optimizer.py
  backend/app/services/pricing.py
  backend/app/services/ratings.py
  backend/app/services/reports.py
  backend/app/services/risk.py
Due: pytest-changed

refactor: Complete removal of deprecated singleton functions
  backend/app/services/pricing.py
Due: pytest-changed

docs: Mark singleton function removal as COMPLETE - progress at 90%
  REMAINING_REFACTOR_WORK.md
Due: none

docs: Update Architecture.md with current implementation details
  ARCHITECTURE.md
Due: none
