Repository mwd474747/DawsOSP: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, pytest-changed

pattern-lint:
  name: Pattern Configuration Linter
  entry: bash -c 'if [ -f scripts/lint_patterns.py ]; then python3 scripts/lint_patterns.py; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

pytest-changed:
  name: Run pytest on changed files
  entry: bash -c 'if [ -f dawsos/test_system_health.py ]; then python3 -m pytest dawsos/test_system_health.py -v --tb=short; fi'
  language: system
  pass_filenames: false
  stages:
  - commit

Improve how complex analysis results are displayed
  .replit
  dawsos/ui/trinity_dashboard_tabs.py
  storage/alerts/alerts.json
Due: pytest-changed

Improve analysis by asking for missing information first
  dawsos/core/enhanced_chat_processor.py
  storage/alerts/alerts.json
Due: pytest-changed

Checkpoint before assistant change: Add a new alert for Trinity compliance violations
  .replit
  storage/alerts/alerts.json
Due: none

Improve context handling for smart analysis patterns
  .replit
  dawsos/core/enhanced_chat_processor.py
  storage/alerts/alerts.json
Due: pytest-changed

Improve how analysis results are formatted for different pattern types
  dawsos/core/pattern_engine.py
  storage/alerts/alerts.json
Due: pytest-changed

Improve stock analysis template and handle missing context values
  attached_assets/Pasted-Smart-Stock-Analysis-AAPL-Overview-Analysis-Type-comprehensive-Depth-standard-Timeframe-timefra-1760819996242_1760819996242.txt
  dawsos/core/pattern_engine.py
  dawsos/patterns/smart/smart_stock_analysis.json
  storage/alerts/alerts.json
Due: pattern-lint, pytest-changed

Enhance stock analysis with improved entity extraction and synthesis
  .replit
  dawsos/core/entity_extractor.py
  dawsos/patterns/smart/smart_stock_analysis.json
  storage/alerts/alerts.json
Due: pattern-lint, pytest-changed

Add new ways to analyze economic conditions and forecasts
  dawsos/core/entity_extractor.py
  storage/alerts/alerts.json
Due: pytest-changed

Add intelligent economic briefing with natural language understanding
  dawsos/patterns/smart/smart_economic_briefing.json
Due: pattern-lint

Add smart economic outlook analysis to provide investment timing and forecasts
  dawsos/patterns/smart/smart_economic_outlook.json
Due: pattern-lint

Add new smart assistants for economic analysis and outlook
  dawsos/core/enhanced_chat_processor.py
Due: pytest-changed

Add a new alert for compliance violations in the system
  storage/alerts/alerts.json
Due: none

Add new alert for Trinity compliance violations
  .replit
  storage/alerts/alerts.json
Due: none

Add new compliance violation alerts for Trinity system monitoring
  .replit
  storage/alerts/alerts.json
Due: none

Add economic analysis features to the chat interface
  ECONOMIC_CHAT_GUIDE.md
  storage/alerts/alerts.json
Due: none

Add guide for extending system functionality with patterns and agents
  .replit
  EXTENSION_GUIDE.md
  EXTENSION_QUICK_REFERENCE.md
  storage/alerts/alerts.json
Due: none

Add advanced economic analysis and alert capabilities
  dawsos/patterns/economy/fed_policy_impact.json
  dawsos/patterns/economy/housing_credit_cycle.json
  dawsos/patterns/economy/labor_market_deep_dive.json
  dawsos/patterns/economy/multi_timeframe_outlook.json
  dawsos/patterns/economy/recession_risk_dashboard.json
  dawsos/patterns/market/macro_sector_allocation.json
  storage/alerts/alerts.json
Due: pattern-lint

Enhance macro analysis with advanced patterns and new alerts
  .replit
  ADVANCED_PATTERNS_GUIDE.md
  storage/alerts/alerts.json
Due: none

Add advanced macro analysis patterns and enhance existing features
  replit.md
Due: none

Update economic data handling for pattern analysis
  .replit
  PATTERN_TEST_REPORT.md
  dawsos/patterns/economy/fed_policy_impact.json
  dawsos/patterns/economy/housing_credit_cycle.json
  dawsos/patterns/economy/labor_market_deep_dive.json
  dawsos/patterns/economy/multi_timeframe_outlook.json
  dawsos/patterns/economy/recession_risk_dashboard.json
  dawsos/patterns/market/macro_sector_allocation.json
  storage/alerts/alerts.json
Due: pattern-lint

Expand pattern triggers and add new alerts for economic analysis
  .replit
  FINAL_IMPLEMENTATION_REPORT.md
  FIX_TRINITY_CHAT.md
  dawsos/patterns/economy/fed_policy_impact.json
  dawsos/patterns/economy/housing_credit_cycle.json
  dawsos/patterns/economy/labor_market_deep_dive.json
  dawsos/patterns/economy/multi_timeframe_outlook.json
  dawsos/patterns/economy/recession_risk_dashboard.json
  dawsos/patterns/market/macro_sector_allocation.json
  storage/alerts/alerts.json
  test_queries.md
Due: pattern-lint

Add detailed analysis of historical economic cycles using Ray Dalio's framework
  .replit
  dawsos/patterns/economy/dalio_cycle_predictions.json
  dawsos/ui/pattern_renderers.py
  storage/alerts/alerts.json
Due: pattern-lint, pytest-changed

Add new compliance violation alerts to the system
  .replit
  storage/alerts/alerts.json
Due: none

Add new data agents and enhance application configuration
  .replit
  .streamlit/config.toml
  requirements.txt
  storage/alerts/alerts.json
  trinity3/__init__.py
  trinity3/agents/base_agent.py
  trinity3/agents/equity_agent.py
  trinity3/agents/macro_agent.py
  trinity3/agents/market_agent.py
  trinity3/main.py
  trinity3/services/openbb_service.py
  trinity3/services/prediction_service.py
  trinity3/ui/__init__.py
  trinity3/ui/intelligent_router.py
  trinity3/ui/visualizations.py
Due: pytest-changed

Update import paths and configuration files for application deployment
  .replit
  config.toml
  credentials.toml
  trinity3/.streamlit/credentials.toml
  trinity3/agents/equity_agent.py
  trinity3/agents/macro_agent.py
  trinity3/agents/market_agent.py
  trinity3/init_db.py
  trinity3/main.py
  trinity3/start.sh
  trinity3/ui/intelligent_router.py
Due: pytest-changed

Integrate advanced economic cycle analysis using Ray Dalio's framework
  .replit
  trinity3/agents/macro_agent.py
  trinity3/main.py
  trinity3/services/cycle_service.py
  trinity3/ui/visualizations.py
Due: pytest-changed

Enhance market analysis with real-time data and professional UI elements
  .replit
  trinity3/agents/market_agent.py
  trinity3/main.py
  trinity3/main_professional.py
  trinity3/services/openbb_config.py
  trinity3/services/openbb_service.py
  trinity3/services/real_data_helper.py
  trinity3/ui/professional_charts.py
  trinity3/ui/professional_theme.py
  trinity3/utils/api_status.py
Due: pytest-changed

Update system name and add financial cycle analysis features
  trinity3/main_professional.py
  trinity3/services/cycle_service.py
  trinity3/services/real_data_helper.py
Due: pytest-changed

Update application banner with modern artwork and improve chart rendering
  trinity3/ui/professional_charts.py
  trinity3/ui/professional_theme.py
Due: pytest-changed

Add Polygon API integration and improve data visualizations
  .replit
  trinity3/services/openbb_service.py
  trinity3/services/polygon_service.py
  trinity3/ui/advanced_visualizations.py
Due: pytest-changed

Add a recession probability calculator using economic indicators
  .replit
  trinity3/agents/macro_agent.py
Due: pytest-changed

Improve banner loading and data handling for financial dashboards
  trinity3/main_professional.py
  trinity3/services/cycle_service.py
  trinity3/services/real_data_helper.py
  trinity3/ui/professional_theme.py
Due: pytest-changed

Add real-time price fetching and recent prediction retrieval functionality
  trinity3/services/prediction_service.py
  trinity3/services/real_data_helper.py
Due: pytest-changed

Add economic predictions and Fed rate analysis to UI
  trinity3/ui/economic_predictions.py
Due: pytest-changed

Add economic calendar and events module for DawsOS 3.0
  .replit
  trinity3/ui/economic_calendar.py
Due: pytest-changed

Add economic indicators and federal reserve policy analysis to dashboard
  trinity3/main_professional.py
Due: pytest-changed

Path conditions:
  pattern-lint: any of: patterns/.*\.json$
  pytest-changed: any of: \.py$
